[2019-02-06 00:05] spirasean opened #1 "Provide instructions on how to get a server IP and using metallb"
If possible could you describe the steps you take to choose ServerIP. I am not able to get this working and am curious to see if I am missing something in this step.

[2019-02-06 01:06] MoJo2600 commented on #1
give me a minute i'll try to get something together

[2019-02-06 01:35] MoJo2600 commented on #1
@spirasean Have a look at the current master. I added the annotation for metallb to share the same ip adresses between the services and updated the readme accordingly. Though i could not test the deployment, because i have no access to my cluster this week. Maybe you want to test it out and tell me how it went.

[2019-02-06 01:47] spirasean commented on #1
Awesome thanks I will test out tonight and get back to you.

[2019-02-06 23:39] SeanChristopherConway commented on #1
So awesome this did work. Unfortunately, it is necessary to use 'Cluster' traffic policy and not 'Local' to have the two services share the same metallb IP, which causes the source ip to not be available in pihole. Also I needed to use loadBalancerIP to get the same IP with 'Cluster' traffic to work. Thanks

[2019-02-07 00:26] MoJo2600 commented on #1
@SeanChristopherConway i have it working @home with 'Local' traffic policy and it was working. I'll try to get the deployment i have @home and update the repository on the weekend when I'm home again.

[2019-02-11 02:42] SeanChristopherConway commented on #1
@MoJo2600 Looking forward to it. Both of the methods you provided in the README do not work for me with externalTrafficPolicy local. Even if I limit the metallb address pool to one ip it still seems to hand out two different ips and if I use loadBalancerIp then the issue above occurs, ie. one service only shows pending for externalIP.

[2019-02-11 20:18] MoJo2600 commented on #1
@SeanChristopherConway @spirasean I updated the configuration to match my current setup, that is running here on my cluster. For me both things are working, the ip of the client in pihole and one ip for both services. My metallb version 0.7.3 set up with helm.
I had some issues with 0.7.3 especially, that i have to restart the speaker pods, after i changed something. They just stopped advertising

[2019-02-14 22:57] zobelhelas opened #2 "error: error parsing deployment-pihole.yml: error converting YAML to JSON: yaml: line 52: did not find expected key"
Wrong indenting here:

https://github.com/MoJo2600/pihole-kubernetes/blob/1c860311741007c47d51931218c2ee7968b947f7/deployment-pihole.yml#L53

[2019-02-16 21:57] MoJo2600 commented on #2
Thank you! I fixed it.

[2019-02-16 21:57] #2 closed

[2019-02-16 21:58] MoJo2600 commented on #1
I'm currently working on a helm chart to deploy pihole with it. I think it makes things easier. Check out my branch helm-chart. It's not done yet, i'll keep you informed.

[2019-02-17 02:26] SeanChristopherConway commented on #1
Awesome. Switching to use the metallb.universe.tf/address-pool: network-services seemed to solve my issue and now can use externalTrafficPolicy local. Will check out the helm-chart, thanks a ton! I have some questions about what you are doing with volumes and storage but perhaps this ticket is not the place.

[2019-02-17 06:17] MoJo2600 commented on #1
I will update the docs to provide information, but in short. Pi-hole stores everything you set in the website locally inside the pod. If you do not store this information inside a volume, all information is lost when you delete the pod.

Another thing: if you set the ServerIP to 0.0.0.0, the new default blocking mode NONE should be activated automatically. So there is no need anymore to know the e

[2019-03-04 12:42] paulmorabito opened #3 "Client IP is only IP of node the pod is running on and assigning a new IP from metallb"
Hi,

Thanks for providing these configs. It's a great help.

I have everything up and running but am noticing that the Client IP is the IP of the node in the cluster that the pod is running on. I definitely have spec.externalTrafficPolicy set to Local.

My Kubernetes versions are below:

Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d1680787490

[2019-03-06 12:38] MoJo2600 commented on #3
Hello!

Ok, can you post your configuration? I'd like to have a look at it.

Which version of metallb are you using. There is a known [bug](https://github.com/google/metallb/issues/335#event-2172727406) in version 0.7.3 where you have to restart the speaker pods to get metallb to announce the ips again. You can either downgrade to 0.7.2 or wait for release 0.7.4 to get rid of this behaviour.

Best

[2019-03-07 11:45] paulmorabito commented on #3
Thanks for pointing out the metallb issue. I reverted to 0.7.2 and it works fine now.

I've pasted the deployment config below. Actually, I have two entries:

* the node that the pod is running on.
* kube-dns-ddddcfcc8-p72zk which I guess is the cluster kube-dns resolving internal dns queries?

The config itself is much like your original.

---

apiVersion: extensions/v1beta1
kind: Deployment
meta

[2019-03-19 18:06] zjael opened #4 "Can't run TCP and UDP on same port with metalLB"
When setting up the tcp and udp services i run into this issue
Warning FailedScheduling: X node(s) didn't have free ports for the requested pod ports.
Using metalLB v0.7.3

Did you experience anything similar or what version of metalLB do you use?

[2019-03-19 18:37] MoJo2600 commented on #4
Hey, i have version 0.7.3 running. But i never got this error. I'm not sure if this is related to metallb. Which version of kubernetes are you running. The only reference I found to this error is related to a bug in 1.11.x and was fixed in 1.11.3.

[2019-03-19 18:37] MoJo2600 commented on #3
Can you post the configuration of the services as well? Sorry for the delay. Been pretty busy :D

[2019-03-19 18:48] zjael commented on #4
Thanks for the fast response, well i am currently running k3s v0.2.0 which is based on k8s v1.13.4 i believe, so could be that k3s is the issue, though it seems odd. I will keep digging. :)

[2019-03-19 19:30] MoJo2600 commented on #4
Keep me informed about any progress you made. I did not yet test k3s but would appreciate any information.

[2019-03-19 19:30] #4 closed

[2019-03-20 00:12] paulmorabito commented on #3
Sure, no worries. Here you go:

'''

apiVersion: v1

kind: Service

metadata:

  annotations:

    metallb.universe.tf/allow-shared-ip: pihole-svc

  labels:

    app: pihole

  name: pihole-tcp

  namespace: apps

spec:

  externalTrafficPolicy: Local

  loadBalancerIP: 192.168.1.243

  ports:

  - name: pihole-http

    port: 80

    protocol: TCP

    targetPort: pihole-http

  - name: pihole-h

[2019-03-27 17:44] danyhoron opened #5 "LoadBalancer won't route trafic to pods"
Hi,

First, thank you for this great project and explanation.

I managed to get it to run but there's an issue w/ metalLB.
Both services (TCP / UDP) look allright,
![image](https://user-images.githubusercontent.com/9220101/55099431-54ecd800-50c8-11e9-8c6c-7f194ff34f1b.png)

but when I navigate to my ip, or telnet on any of the TCP ports, it doesn't work, I get: `Network is unreachable`.
If I open

[2019-03-28 06:03] danyhoron commented on #5
After deleting the services, and re-creating them w/ a new IP, it started working.
I think it's a metalLB issue.

[2019-03-28 06:03] #5 closed

[2019-03-28 07:06] MoJo2600 commented on #5
Yes, that is definately a metalLB issue. I hope this is fixed in the next version. Thanks for sharing the solution.

[2019-04-08 09:03] MoJo2600 commented on #3
I recently merged my helm chart branch to master. Would you please try to deploy everything with the helm chart and the documentation i provided. I tried it multiple times and everything was working right out of the box.

[2019-04-08 09:06] MoJo2600 commented on #1
Hey everybody, I now created a working helm chart and updated the version of pi-hole to 4.2.2. With the default blocking mode it is not longer necessary to set the ServerIP. It was even removed from 4.2.2. So, if you take the helm chart with an configured values.yaml (see README.md) pi-hole should work right out of the box, without any manual rework. Please open a new issue if you experience any p

[2019-04-08 09:06] #1 closed

[2019-04-16 07:41] paulmorabito commented on #3
Sorry for the late reply.

I've downloaded the Chart.yml and values.yaml. I'm getting an error trying
to install the chart:

helm upgrade -i pihole --namespace apps ./Chart.yaml -f values.yaml
Release "pihole" does not exist. Installing it now.
Error: gzip: invalid header

Ay ideas?

On Mon, 8 Apr 2019 at 18:03, Christian Erhardt <notifications@github.com>
wrote:

[2019-04-16 08:30] MoJo2600 commented on #3
Your helm command is wrong. You have to point to the chart directory, not the Chart.yaml. The error is absolutely misleading.

`helm upgrade -i pihole --namespace apps ./pihole -f values.yaml`

[2019-04-16 09:59] paulmorabito commented on #3
That worked. Thanks.

I also tested and I can see individual IP addresses now.  So, all good.

One question on the version tag. Can I change this to latest or if not, how
do you recommend upgrading? I'm a little new to helm charts.

On Tue, 16 Apr 2019 at 17:30, Christian Erhardt <notifications@github.com>
wrote:

[2019-04-16 11:08] MoJo2600 commented on #3
Of course you can update the version tag to your liking. I set it to the latest that was available at the time i created the chart. You could even replace the version with 'latest' then you should get always the latest and greatest after repeating the `helm upgrade` command.

[2019-04-16 11:41] paulmorabito commented on #3
That also works. Thank you so much for your help.

On Tue, 16 Apr 2019 at 20:08, Christian Erhardt <notifications@github.com>
wrote:

[2019-04-16 12:02] MoJo2600 commented on #3
You are very welcome. Just come back if you have any other questions. I'll close this issue for now.

[2019-04-16 12:02] #3 closed

[2019-10-24 07:53] MoJo2600 opened #11 "Release chart on https://hub.helm.sh"
The goal is to deploy this chart to https://hub.helm.sh so everbody has access to it.

[2019-10-26 02:20] tdorsey opened #12 "Liveness and Readiness probes are incorrectly defined"
With the values.yaml file from master, `helm template -f values.yaml pihole` yields the following:

```unknown field "livenessProbe" in io.k8s.api.core.v1.ContainerPort, ValidationError(Deployment.spec.template.spec.containers[0].ports[4]): unknown field "readinessProbe" in io.k8s.api.core.v1.ContainerPort```

kubectl/k8s version 1.16

[2019-10-26 02:28] tdorsey opened #13 "Deployment apps/v1beta2 is deprecated in 1.16"
Installing on a v1.16 cluster yields `no matches for kind "Deployment" in version "apps/v1beta2"`

appsv1 was introduced in 1.9 as stable

[2019-10-26 19:22] #12 closed

[2019-10-29 20:59] #13 closed

[2019-11-12 10:01] gjeanmart opened #18 "DHCP enabled"
Hi,
First of all, thank you for the hard work, this chart is perfect.

My router doesn't allow me to configure a DNS server, so I decided enable Pi-Hole DHCP server according to [this post](https://discourse.pi-hole.net/t/how-do-i-use-pi-holes-built-in-dhcp-server-and-why-would-i-want-to/3026) and disable my router DHCP server.

The problem is that it doesn't work at all.

I have a pretty similar

[2019-11-12 12:46] gjeanmart commented on #18
I also created a post on the [pi-hole discourse](https://discourse.pi-hole.net/t/pi-hole-on-self-hosted-kubernetes-and-dhcp/25294)

[2019-11-14 13:27] billimek opened #19 "StatefulSet?"
Currently, the chart deploys pihole as a [Deployment](https://github.com/MoJo2600/pihole-kubernetes/blob/master/pihole/templates/deployment.yaml).  After experimentation, I determined that it isn't a good idea to run more than one replica of pihole due to the shared nature of the storage used by multiple instances.

In cases where someone wants a more highly-available pihole workload (i.e. more th

[2019-11-21 04:36] tdorsey commented on #18
Even with your post on the discourse channel, more information would be helpful.
Your post there mentions:

"But the problem is that no device can now obtain an IP address from my router."

I'm assuming you meant "can't obtain an IP address from pihole", since you've turned off dhcp in your router.

*Chart specific issues*
I know the black and whitelist settings couldn't be changed from the webint

[2019-11-21 09:33] gjeanmart commented on #18
Thanks for your message but I've actually been able to fix my problem a few days ago and haven't fount the time yet to describe the solution.

First of all, I had no issue installing pi-hole on my Kubernetes infra, the web application was working like a charm and I could manually set Pi-hole LoadBalancer IP as DNS on any device. Obviously, the "manually" was a bit of a problem, I definitely don't

[2019-12-05 11:45] gjeanmart commented on #18
closing

[2019-12-05 11:45] #18 closed

[2019-12-11 17:49] i5Js opened #20 "Setting externalTrafficPolicy: Local Pihole doesn't work."
After several days trying to get this working finally I got it, but the problem comes when I set the   externalTrafficPolicy: to Local. The Pihole stop to work, the http service is working fine, but the DNS doesn't . You can find below my service configuration:

pi@raspserverM:~/k3s/pihole $ cat svc-pihole-tcp.yml
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    metallb.universe.tf/ad

[2019-12-13 08:14] MoJo2600 commented on #20
Could you provide logs or maybe a describe of the service, after it stopped working? This is a sample of a working service definition that i took from my helm setup. Maybe it helps:

[code]

[2019-12-13 10:48] i5Js commented on #20
Hi,

Many thanks for your answer. I think I get the issue fixed, almost. The problem was I'm using k3s with traeffic and it seems it's not working fine with Metallb, so I remove treaffic and now it's working almost fine. And I say almost fine, because there are some services "pending"

pi@raspserverM:~/k3s/pihole $ kubectl get pod -A
NAMESPACE        NAME                                      READY

[2019-12-30 13:09] billimek opened #21 "LivenessProbe may be too aggressive"
Using the current settings I notice that the pihole pods occasionally restart (a few times/day) due to liveness probes failing.

The remedy is to adjust the probe settings to be a little more forgiving.  I'll submit a pull request with those adjustments as well as to make the probe values configurable as values.

[2019-12-30 16:34] #21 closed

[2019-12-30 20:49] MoJo2600 commented on #19
What issues did you have with a shared database file. Sqlite should support multiple users connecting to the same file - but i never tried this.
Otherwise from my experience with kubernetes and statefulsets your are absolutely right. A Stateful Set would make sense here. Every pod has its own storage. The only downside i see is, that you don't have a single source of truth, when you are dependent

[2019-12-30 20:51] MoJo2600 commented on #20
Hey, is it now working? I strongly reccoment to try the helm chart, as it is properly maintained.
Otherwise, i might help, if you could do a describe on the Pending services and post it here?

[2020-01-03 15:12] i5Js commented on #20
Hey!Thanks for your answer. Yes, it's working now, the problem was , I'm using k3s instead k8s and it comes with traeffic, so I installed k3s without it and it works now. however, the services, sometimes are pending:

**dns-home         svclb-pihole-tcp-qsx2v                    0/2     Pending   0          21d**
**dns-home         svclb-pihole-tcp-wtrww                    0/2     Pending   0

[2020-01-07 10:21] MoJo2600 commented on #20
You should focus on the error message `Warning FailedScheduling default-scheduler 0/3 nodes are available: 2 node(s) didn't match node selector, 3 node(s) didn't have free ports for the requested pod ports.`

The error that is happening is the following. Let's break it down in two parts:
`FailedScheduling default-scheduler 0/3 nodes are available: 2 node(s) didn't match node selector`: Your node s

[2020-01-08 07:00] i5Js commented on #20
Hi, many thanks for your help!

Yes, you’re right, the issue is the port which is in use. And yes I guess it uses the node instead the load balancer. How can I change this?

My apologies about the code insert. I will use next time.

Again, many thanks for your time and help.

[2020-01-08 07:25] i5Js commented on #20
I was checking my metallb config file, I think it's right, but your're the expert here:
`pi@raspserverM:~/k3s/core $ cat metallb-configmap.yml
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    address-pools:
    - name: pool-dns
      protocol: layer2
      addresses:
      - 192.168.1.120-192.168.1.121
    - name: services
      protocol: la

[2020-01-08 09:35] i5Js commented on #20
The strange thing here or I can understand it is this:

**>     Port:       53/TCP

**>       SRC_PORT:    53

By default is using TCP port, which is obiously in use, but the service is por UDP protocol...

And the second thing is
The pods are in pending:

**> svclb-pihole-udp-sr8sv   0/1     Pending   0          6m5s

But the services are working:

Sorry, I'm very noob with this.

[2020-01-09 09:24] i5Js commented on #20
I think I know which is the problem... the k3s service on the nodes is not working properly:

and

I need to figure out what is happening.

[2020-01-09 13:02] MoJo2600 commented on #20
Unfortunately i have no experience with k3s. But if you find the error, let me know what it was.

[2020-01-09 18:48] i5Js commented on #20
Well, problem fixed, as I said on my previous post, the problem was the nodes was flapping from up to down and up again all the time, because of that, never was some node available and the services were pending. I’ve upgraded k3s to the latest version and now is working flawless.

K3s and K8s and very similar, k3s is recommended for raspberry because it needs less resources but basically it’s the

[2020-01-10 22:38] runningman84 commented on #19
From my point of view it would be good if pihole would just output the logs to stdout and you query them via elasticsearch or something like that. In this case the sql lite database of pihole can be purged at will and changes to white or blacklist ips would be done using helm/gitops. I doubt that anybody would like to use the webinterface to do any change because you would have to go to each pod a

[2020-01-11 15:36] billimek commented on #11
The `helm/charts` repo is [being deprecated](https://github.com/helm/charts#deprecation-timeline), so helm hub is the path forward.

@MoJo2600, I have a solid github actions implementation that will lint and test charts (via KIND) for all pull requests and then automatically publish charts as a repo release.

I'm going to submit a PR to implement the github actions in this in repo, but to fully im

[2020-01-11 17:39] MoJo2600 commented on #11
Very nice! I will enable everything and add the secret. Thank you!

[2020-01-11 17:42] MoJo2600 commented on #19
Yes, i see your point. The only thing that i currently use the web interface for is to see what is being blocked and to find urls that have to be whitelisted. But the whitelisting is all done via helm. As nice as elasticsearch is, it uses a lot of resources. I'm not sure if this is justified.

[2020-01-13 20:52] runningman84 opened #24 "installation using helm3 fails"
helm operator reports this error:
[code]
This is my config
[code]
Does it work for you?

[2020-01-14 15:12] billimek commented on #11
Thanks for merging #23 @MoJo2600!  There seems to be a problem with the helm chart tester thing expecting the chart(s) to live in their own dedicated subdirectory (e.g. `charts/pihole` instead of `pihole`) - I'm looking for a workaround now as that limitation seems silly.

[2020-01-15 11:57] MoJo2600 commented on #11
Yeah, but be could also rename the directories as well... I already thought about deleting the not helm setup in the repo, because I'm not maintaining them

[2020-01-15 11:59] MoJo2600 commented on #24
I have to test this. did not try it with helm3 yet.

[2020-01-15 12:50] billimek commented on #11
The directory issue appears to be solved (via #26).  Still looking into the chart-test install issue described in #27.  As a last resort, we could disable the CI steps that install the KIND cluster and run a chart test, but that really shouldn't be necessary.

[2020-01-16 12:37] MoJo2600 commented on #11
Yes please go ahead if you have the time to do this. Please don't apologize, I'm so glad, that somebody finds my code useful and is willing to invest time in it :+1:

[2020-01-16 13:24] MoJo2600 commented on #20
Good to know that you figured it out. I'll close the issue, feel free to come back if you have questions.

[2020-01-16 13:24] #20 closed

[2020-01-17 13:13] billimek commented on #11
https://github.com/helm/hub/pull/237 submitted to add this repo!

[2020-01-20 01:52] billimek commented on #11
@MoJo2600 do you mind commenting on https://github.com/helm/hub/pull/237?  They want to make sure you agree to add this repo to Helm Hub.

[2020-01-20 16:04] MoJo2600 commented on #11
Done!

[2020-01-21 09:26] henry2man commented on #24
Just my 2 cents, I was able to deploy the chart using a fresh install of k3s + Helm3 over a pair of amd64 nodes. My values.yaml far more simple:

[code]

[2020-01-21 09:37] henry2man opened #29 "Custom existing PVC name"
Please add an extra values.yaml configuration key to set a custom name for the "existing" Persistent Volume Claim. For now the existing PVC must be named "pihole". Also this prevents to have more than one pihole deployment in the same namespace.

Also please consider a refactor of the value keys. For example Bitnami has its own rule-of-thumb for this scenarios:
~~https://github.com/bitnami/charts/

[2020-01-21 09:38] henry2man opened #30 "Custom existing PVC name"
Please add an extra values.yaml configuration key to set a custom name for the "existing" Persistent Volume Claim. For now the existing PVC must be named "pihole". Also this prevents to have more than one pihole deployment in the same namespace.

Also please consider a refactor of the value keys. For example Bitnami has its own rule-of-thumb for this scenarios:
https://github.com/bitnami/charts/tr

[2020-01-21 09:39] henry2man commented on #30
My apologies, this is a duplicate of #29

[2020-01-21 09:39] #30 closed

[2020-01-21 11:51] MoJo2600 commented on #29
This sounds very good. Are you willing to create a pull request? I'm happy to add this.

[2020-01-22 15:19] billimek commented on #11
With the merge of [this helm hub PR](https://github.com/helm/hub/pull/237) and commit [4283539892041590588051e0415252a338ba5a0d](https://github.com/MoJo2600/pihole-kubernetes/commit/4283539892041590588051e0415252a338ba5a0d) (which makes https://mojo2600.github.io/pihole-kubernetes/ look pretty).

The chart is now [hosted on helm hub](https://hub.helm.sh/charts/mojo2600/pihole) and this issue can b

[2020-01-22 22:28] MoJo2600 commented on #11
Very very cool! That was a nice piece of work, thank you!

[2020-01-22 22:28] #11 closed

[2020-01-23 04:25] billimek commented on #24
I wonder if #32 fixes this one?  What do you think @imle ?

[2020-02-02 21:38] billimek commented on #19
Having done more experimentation, I'd like to add additional thoughts/observations:

For the scenario by which one wants to achieve redundancy & high availability with pihole:

## statefulset

* Running multiple replicas guarantees that a single service will be exposed for all clients to consume (most likely a LoadBalancerIP in the case of pihole)
* Running multiple replicas guarantees that each i

[2020-02-23 08:13] MoJo2600 commented on #24
I upgraded everything to helm 3 and did a fresh new install with the current version 1.3.1 everything was working as it should. I think we can close this issue unless @imle has still issues with helm 3?

[2020-02-23 09:00] #24 closed

[2020-03-02 18:34] i5Js commented on #29
Should be possible add nfs volume support? I have pihole installed without helm using a nfs storage and I would like to move this installation to helm fork. Thanks!

[2020-03-03 13:00] i5Js opened #34 "Persistent Volume Claim name and namespace in services."
Hi,
Perhaps I'm not doing well, but I notice the PVC name is set to template name **(  claimName: {{ template "pihole.fullname" . }} )** If this is the expected behavior, why not use a pvc existing name?

Another question is, could be implemented using another namespace that default, for example, in services?

Thanks.

[2020-03-08 00:19] carpenike commented on #19
In the case of a dns client (at least for Windows), the client will round robin select a DNS server if it has more than one defined and will not failover your another until a timeout is reached. The client will not “blacklist” a downed DNS server either. Therefore having more than one IP, while functionally provides a highly available configuration, would end up with delays in DNS resolution on th

[2020-03-08 12:20] runningman84 commented on #19
BTW. I would recommend to checkout blocky. This project does not need persistent storage and can be configured using a simple yaml file. It has about the same features as pihole and works great in my k3s cluster.

https://github.com/0xERR0R/blocky

[2020-03-08 14:11] onedr0p commented on #19
The monolith of dependences pihole relies upon is crazy, blocky looks great. There's also Adguard Home which is also written in Go and is single binary.

https://github.com/AdguardTeam/AdGuardHome

[2020-03-08 14:16] onedr0p commented on #19
@runningman84 is there a helm chart for blocky available, I'd love to try this out.

[2020-03-08 15:13] billimek commented on #19
FYI, I just published a quick-and-dirty helm chart for blocky: https://github.com/billimek/billimek-charts/tree/master/charts/blocky

[2020-03-20 20:38] JayG-EBSCO opened #37 "No response for dhcp?"
You've written an excellent guide, and with it I've been able to transfer my Pihole install for DNS from docker to kubernetes. My docker install was also acting as my home lan DHCP server, but I have not been able to get a DHCP response out of the kubernetes hosted instance. Have you tried to do so, and has there been any success?

[2020-03-20 20:58] MoJo2600 commented on #37
Hi, thank you. I think you might manage to do it, if you open up port 67 UDP and port 647 TCP in the service for pihole. But i never tested this.

[2020-04-04 07:49] i5Js opened #39 "Imposible to add more domains to whitelist or blocklist."
Hello,

I'm unable to add more domains to adlist or whitelist files using the pihole web interface. I've filled  before with some domains to the values template, and I'm always get the message: "read-only filesystem". It's strange because If I let without any domain the values template, it works fine, I can add or remove domains.

Regards

[2020-04-05 06:57] #34 closed

[2020-04-12 11:34] DrumSergio opened #41 "PersistentVolumeClaim error"
Hi. I am following this tutorial: https://kauri.io/68-selfhost-pihole-on-kubernetes-and-block-ads-and/5268e3daace249aba7db0597b47591ef/a

In "Deployment" section, point 4a, the changes made to the "values.yml" file somehow can't be installed through helm. This is the error I am facing:
[code]

When I perform a "kubectl get pvc -n pihole" this is the output:
[code]

PS. I checked-out the commit fro

[2020-04-13 05:16] i5Js commented on #41
Hi,
Can you share your values file?
Regards

[2020-04-13 06:53] DrumSergio commented on #41
[code]

[2020-04-13 08:12] i5Js commented on #41
I don't see any gap here, it's similar and mine is working fine. do you still have the issue?

[2020-04-13 08:34] DrumSergio commented on #41
No, I don't have the issue anymore, but that is because I am not using the latest commit. Something should be failing in the latest commit around the "persistentVolumeClaim". It is strange.

[2020-04-13 17:56] gjeanmart commented on #41
Hey,
Lastest committer here :)

In my recent PR which was merged, I have changed the template to be more compliant with Help chart best practices regarding persistantVolumeClaim.

Basically, instead of having `persistentVolumeClaim.existingClaim:true/false` and force people to name the claim `pihole`, this field is now expecting a string `persistentVolumeClaim.existingClaim:<name-of-my-claim>` (ca

[2020-04-20 14:25] MoJo2600 commented on #41
@gjeanmart Thanks for you contribution. I created a pull request to update the default values.yaml. Maybe you want to doublecheck i did everything right :)

[2020-04-20 14:28] MoJo2600 commented on #29
Would you please retry with the latest version of the chart @henry2man? By default, the pvc name is now the name of the deployment not 'pihole'. And you are able to set the name of an existing pvc. This should be also the solution to the nfs storage @i5Js? Because you can create the nfs pvc beforehand?

[2020-04-20 14:35] MoJo2600 commented on #39
Yes, i think i know what happens. Adlist, whitelist, etc. are stored in a configmap inside the cluster. If you define them in values.yaml those are mounted to the container. configmap mounts by default are read only in kubernetes.
On the other hand, if you do not define any of those inside the values.yaml, the helm chart will create and mount a configmap. A local file inside the pihole container i

[2020-04-21 05:09] i5Js commented on #39
Hi
Thanks for your answer, understood! I've followed the second way and the file is persistent, since it's created inside a volume which is in my NFS share, so the changes remain even if the pod is restarted.

BTW, I'm not sure it's what you're saying, I've made a test with my classic version of pihole, using a custom config map for those values and it's working fine

Regards

[2020-04-21 06:56] MoJo2600 commented on #39
Ok sounds good... but for the second part, i would be very interested in your configuration because i have no idea how this should work. But maybe there is something new to learn :)

Regards

[2020-04-21 06:57] #41 closed

[2020-04-21 13:27] i5Js commented on #39
Sure, what do you need? Config map or helm values?

[2020-04-21 20:26] MoJo2600 commented on #39
The configmap definition and how the configmap is mounted into the pod would be great.

[2020-04-21 20:41] i5Js commented on #39
Config map:
[code]
Deployment

[code]

Hope it’s helps

[2020-05-19 02:14] kbreit opened #49 "Enable rewrite for ingress"
I'd like an option, outside of manually writing annotations, which allows me to set a rewrite rule so it will rewrite `/admin/` to `/`.

[2020-05-22 19:52] MoJo2600 commented on #29
Closing this issue because there has been no response

[2020-05-22 19:52] #29 closed

[2020-05-22 19:52] MoJo2600 commented on #37
Closing this issue because there has been no response

[2020-05-22 19:53] #37 closed

[2020-05-30 15:52] Gory19 commented on #39
I have a similar problem with Pihole v5.0. When I add a domain to the blocklist, I get the message "While executing: attempt to write a readonly database". How can I solve it?

[2020-05-30 20:46] MoJo2600 commented on #39
I believe this is due the change from separate files to a gravity database in pihole 5. We need to change the deployment to a stateful set to enable a writable database.

[2020-05-30 20:48] MoJo2600 commented on #19
I'm reopening this ticket. Pihole 5 moved from single files to a gravity database. So we need to move the deployment to a stateful set to support this database.

[2020-06-03 09:56] MoJo2600 commented on #39
@Gory19 I tried it today on my cluster. But it was working for me. Do you have persistence enabled?

[2020-06-03 09:58] i5Js commented on #39
@MoJo2600 I've same issue, and I have persistence enabled.

[2020-06-03 10:38] MoJo2600 commented on #39
Hm... then i don't get it. If I go to `Blacklist` and then add the entry it gets saved.

[code]
This Is everything that is configured by helm.

[2020-06-03 10:53] i5Js commented on #39
The issue, on my case, comes when you try to add a new domain into a whitelist.

[2020-06-03 11:16] MoJo2600 commented on #39
Which version of the chart are you running? Are you on pihole 5?

[2020-06-03 11:18] Gory19 commented on #39
Yes, I have persistence enabled.

[2020-06-03 11:53] i5Js commented on #39
@MoJo2600 Chart: pihole-1.7.6

[2020-06-07 20:09] MoJo2600 commented on #19
I had a detailed look into pihole5 but I'm not sure if there is something that we would have to change. PiHole 5 introduced a gravity database. When the pod starts it reads in all files we currently define and imports them to the gravity database. If we would convert it to a StatefulSet every pod would have it's own PVC and thus it's own database. That is fine, until you change something, because

[2020-06-07 20:18] MoJo2600 commented on #39
I had a look at it today and I'm not sure what is going on. Since pihole 5 introduced the gravity database, everything you define in the files will be imported to the database during start. If you have persistence enabled, the database is stored in the persisted volume. You should be able to change everything and it should stay there, even if you restart the container.
Maybe you could execute a `k

[2020-06-07 20:38] Gory19 commented on #39
Here's to you:
https://pastebin.com/Mg1C4H16

[2020-06-07 20:59] i5Js commented on #39
Mine

https://pastebin.com/rLbQRAjc

[2020-06-08 05:54] MoJo2600 commented on #49
Do you have an idea how to do this. Sorry, I'm not very familiar with ingress configuration.

[2020-06-08 14:44] RickCoxDev commented on #39
I'm having the same issue. I'm getting the error:
[code]
This happens when trying to add a domain to the whitelist or blacklist via the UI.

[2020-06-09 06:38] MoJo2600 commented on #39
I had a look at the configuration, but can't see a difference. I think is has to do with the PVC/PV but right now I'm just guessing. The access mode of your pvc is set to RWO? Are you able to create a file inside the container in the folder `/etc/pihole` and how are the file access rights set in this folder? The whole folder is mounted to the PV so you should be able to create files there and all

[2020-06-09 06:45] i5Js commented on #39
Hi,

I’ve created a file at /etc/pihole without any problem. The permissions are root:root.

I’m checking the contents, and all the files are root:root exert gravity.db which is pihole:pihole... perhaps this is the key of everything

[2020-06-09 09:04] MoJo2600 commented on #39
Hm... checked my cluster and it is as follows:
[code]
But to be sure. You use the GUI to add a domain to black/whitelist and the GUI shows you an error? Not like it is on my cluster: [Adding Domain]( https://www.dropbox.com/s/rrr8bhjlob3rqgi/adddomaintoblacklist.mp4?dl=0)?

[2020-06-09 09:07] i5Js commented on #39
Same here @MoJo2600 and yes, I’m using the GUI.

I’ve changed the permissions but same results.

[2020-06-09 09:27] MoJo2600 commented on #39
There is a [issue open](https://discourse.pi-hole.net/t/error-message-attempt-to-write-a-readonly-database/27092/40) at pihole.

There seem to be two solutions on the pihole side right now. One is, that the webserver has the wrong rights, but I don't see how this could be the issue here, because our configuration should be the same.
The second thing is, that a restart would help as pihole seems to

[2020-06-09 09:29] i5Js commented on #39
I’ve already done, no success.

Mine is an upgrade from v4, I’ll try to make a fresh installation...

[2020-06-09 11:03] i5Js commented on #39
I’ve also tried pihole -r, also without success.

[2020-06-09 11:46] Gory19 commented on #39
I found this: https://discourse.pi-hole.net/t/error-message-attempt-to-write-a-readonly-database/27092/31.
But it didn’t help me.

[2020-06-09 14:55] MoJo2600 commented on #39
I tried it right now with this minimal values.yaml on the current `master` commit and it is still working for me:

[code]
`helm install -f values2.yaml pihole2 mojo2600/pihole`

The only differences I see are, that you are using cloudflare, but i don't see how this would cause an issue and that you are using nfs and I use glusterfs. And mine is a fresh install not an upgrade.

But right now I'm ou

[2020-06-09 15:07] MoJo2600 commented on #39
I even tried an upgrade from 4.4 to 5.0. Works without issues. I added to the blacklist and whitelist on 4.4, upgraded to 5 and the old entries were there and i was able to add new domains.

[2020-06-09 15:52] i5Js commented on #39
Can you make a test?

Add some domains in the value file and try again, I think the problem could be there.

Regards.

[2020-06-09 16:15] MoJo2600 commented on #39
I tried it, but it is still working.

I created a values file with whitelist and blacklist entries. Then i deployed version 1.7.4 with PiHole 4.4. I am not able to add something to blacklist and whitelist. But I expected this, because the mounted configmap for the whitelist/blacklist file is read-only. Prior to 5.0 you have to update the configmap and restart the container.
Then i upgraded this de

[2020-06-09 19:21] i5Js commented on #39
I’ve checked mine, I don’t have any input win whitelist or blacklist. I’m going to try with the upgrade.

[2020-06-09 19:58] i5Js commented on #39
I’ve uninstalled the chart, deleted everything, less the db files, install it again, but same, readonly. There are no entries in values files.

[2020-06-09 20:27] MoJo2600 commented on #39
So then all thats left is, that you are using a nfs mount? We ruled everything else out, didn't we? Could you do one last check, what happens if you disable persistence? Then the file should be stored inside the container. For me this is also working.
Usually it is the other way round. It is working for everyone else and failing on my machine.

[2020-06-09 20:41] i5Js commented on #39
Yes, it’s a nfs share. I’ll check it tomorrow morning and I’ll let you know.

[2020-06-10 06:12] i5Js commented on #39
Something is happening with the persistent volume, I’ve tried without it, and works flawless with the storage container.

[2020-06-10 10:05] i5Js commented on #39
New test: I've added without any issues, a domain using sqlite:

root@pihole-554c78fc88-nffp9:/etc/pihole# sudo -u pihole sqlite3 /etc/pihole/gravity.db "INSERT INTO domainlist (domain) VALUES ('test.domain2');"

Super strange!

[2020-06-10 10:45] MoJo2600 commented on #39
This is possible even if you have a nfs volume attached?
Ok, things are getting weird right now. In the open issue at pihole they mentioned, that the process for the webserver need write access to the gravity.db file - but i can't see why you should have other access rights as me, especially when we both do a clean installation.

[2020-06-10 10:58] i5Js commented on #39
That test, SQLite, is using an NFS persistent volume, honestly, I don't understand anything :)

[2020-06-11 03:46] darknite12 opened #52 "Does not Expose on port 53"
Hello, I don't know if this is the right channel for support/help. But here it goes. Everything works great with the configurations i have got. The only thing is that the ports (ie. 53, 80) are exposed on random ports. I guess i can live with port 80 living on any random port as this is only the admin portal. But in order for me to point my router to pihole using the router's dns setting, the port

[2020-06-11 07:00] i5Js commented on #52
Please, could you share your service configuration?
`kubectl get svc -n <namespace`

[2020-06-11 08:56] i5Js commented on #39
More findings:
pihole-FTL.db  can be updated without any issues. The difference between this and gravity.db is the owner. Gravity is pihole:pihole, FTL is root:root, but even when I change the owner to gravity I'm still getting "read only" warning...

[2020-06-11 09:49] MoJo2600 commented on #39
I will try it with an nfs mount here. One question, which architecture are you on? Mine is x86.

[2020-06-11 09:50] MoJo2600 commented on #19
I will close this. With persistence enabled pihole5 works really well.

[2020-06-11 09:50] #19 closed

[2020-06-11 09:50] i5Js commented on #39
Nice question... arm here, on raspberry

[2020-06-11 09:55] MoJo2600 commented on #52
Hi, i think you read the information here the wrong way round. Kubernetes is trying to create a Loadbalancer but it is not yet created (status is <pending>). The information you see is, that port 80 in the Loadbalancer will be forwarded to port 30181 on the pod.
My services look like this:
[code]
You can see, that a Loadbalancer has been created on IP 192.168.178.252 and it exposes the ports 80,44

[2020-06-11 10:18] MoJo2600 commented on #39
Could you have a look into the debug protocol of the pihole admin interface `Tools->Generate debug log`. The part below `*** [ DIAGNOSING ]: Gravity List and Database`  would be interesting.

[2020-06-11 11:16] i5Js commented on #39
Done:

`*** [ DIAGNOSING ]: Gravity List and Database
-rw-rw-r-- 1 pihole pihole 226660352 Jun 10 10:21 /etc/pihole/gravity.db`

Do you need the entire output?

[2020-06-11 11:19] RickCoxDev commented on #39
Hey guys I’ve been running into the same issue. Like i5Js I’m using a nfs share for the persistent volume. I believe when using the UI to add domains it is the www-data user that adds the entry to the database. That is why it must be a part of the pihole group. You can see this by running:
`groups www-data`
When I try to add an entry to the database with that user I get the same error I’m seeing i

[2020-06-11 11:27] i5Js commented on #39
Thanks for your input RickCoxDev.

Other strange thing: if there were permissions issue, we should not be able to update gravity via GUI,but.....

`[i] Target: https://zerodot1.gitlab.io/CoinBlockerLists/hosts_browser`
 `[✓] Status: No changes detected`
  `[i] Received 3598 domains`

  `[✓] Storing downloaded domains in new gravity database`
  `[✓] Building tree`
  `[✓] Swapping databases`
  `[i]

[2020-06-11 11:38] RickCoxDev commented on #39
Is that the initial setup logs? I believe setup is ran by the pihole user.

[2020-06-11 11:56] i5Js commented on #39
Similar, it's a manual update of the gravity database using the web interface.

[2020-06-12 02:45] darknite12 commented on #52
Thank you for replying. I just want to start by saying I am a total Noob. Just wanted to get that out of the way.

The reason why I mention that port 53 on TCP is assigned external port 30634 is because port 80 on TCP seems to be assigned to 30181 because when I point my browser over to http://node-ip:30181/admin I get the pihole admin. I can login etc.

when i do a `kubectl describe svc pihole-tc

[2020-06-12 05:05] i5Js commented on #52
Hi,

Did you configure metallb? Could you please share the config map?
` kubectl describe cm <name>-n <namespace>`

It seems It's waiting for an IP to assign the services.

[2020-06-12 11:28] darknite12 commented on #52
No I haven't configured it but as I mentioned before when I configure pihole without a load balancer it still does not expose pihole on the desired ports.

Ideally what I want is to expose port 53 because that is what the DNS clients (ie. My router) will talk to.

[2020-06-12 11:34] i5Js commented on #52
The internal ports are ok, mine are same than @MoJo2600
If you want to configure the service using a LoadBalancer, you need to configure metallb or traefik.

[2020-06-12 12:08] darknite12 commented on #52
Is it possible to set it up without a load balancer?

[2020-06-12 12:10] i5Js commented on #52
Yes, you can change from LoadBalancer to NodePort.

[2020-06-12 12:18] darknite12 commented on #52
I did as well. But the same sort of thing happens. See, the big comment at the very bottom I describe what happens when I use NodePort... basically the same thing happens the ports are not 53 and 80 but 32something

[2020-06-13 09:37] MoJo2600 commented on #39
But i can't figure out why it is working for me... From the setup and the file permissions it should not work for me as as well. It seems like glusterfs is doing something rather strange here that i am not able to figure out yet.

Launching the web process as root is something i would not recommend. But we could change the access rights to the gravity file to be world writable. What do you think?

[2020-06-14 09:20] MoJo2600 commented on #52
I think with Nodeport you will always have a problem with port 53. This is used by systemd most of the time. I'd recommend to go with metallb and use a Loadbalancer. Setting up metallb is very easy.

I created a `values.yml` for my helm deployment like this:

[code]

Then i did my deployment with this values.yml: `helm install --name metallb -f values.yml stable/metallb`

And if you annotate your

[2020-06-14 19:04] i5Js commented on #39
I don't think changing the permissions to root would be the solution, because It works when I use container storage... I'm going to deploy it again using an internal storage and see the differences.

Did you use NFS storage? If so, could you share the PV and PVC definitions?

[2020-06-15 18:16] i5Js commented on #39
I'm done, I have no idea what is happening. I don't think is because the container, I think is because the pv/pvc because everything is exactly the same using internal storage an pv... so It has to be something about pv/pvc definitions.

[2020-06-15 19:37] Gory19 commented on #39
Did you get it working

[2020-06-16 00:34] darknite12 commented on #52
I did as you described and when i run `kubectl get all -n pihole` i get
[code]
So now, how do I access the Admin portal and more importantly what address do I use in my router's DNS config?

[2020-06-16 01:10] darknite12 commented on #52
I got it working! I think the problem was that the LoadBanlencer IP address I was using was not something my router was allowing. My loadBalancer IP is as follows `loadBalancerIP: 192.168.1.252` and in the metallb configuration looks like this
[code]
notice the IP range....so now when i run `kubectl get all -n pihole`
[code]
Now when i point my browser to http://192.168.1.252/admin i get the Pihol

[2020-06-16 01:10] #52 closed

[2020-06-16 04:57] i5Js commented on #39
No

[2020-06-16 13:19] MoJo2600 commented on #39
Ok, I tested the deployment with a nfs share on my synology nas.. and it is still working for me. Entries are added from the predefined lists and I'm able to add new entries as well.

My pv.yml:
[code]

My pvc.yml:
[code]

My docker images:
Image: pihole/pihole:v5.0
Image ID: docker-pullable://pihole/pihole@sha256:d586f1a05c2a81b224d2c30d33ab9081b8baa0471f87d900d55e6155ed89cb08

I'm lost, i have n

[2020-06-16 15:11] tekenny opened #54 "svclb-pihole-tcp pods stuck in pending status"
This is probably a config error on my part but would appreciate any help.

All three pods for svclb-pihole-tcp are stuck in pending status.

Describe states:
  Warning  FailedScheduling  <unknown>  default-scheduler  0/3 nodes are available: 3 node(s) didn't have free ports for the requested pod ports.

netstat --listen on my 3 nodes indicate nothing on ports 53, 80 nor 443.

What might I be missi

[2020-06-16 15:29] i5Js commented on #39
Hi,

My storageClassName is manual instead slow.

I’ll try with manual and see.

Thanks.

[2020-06-16 17:23] i5Js commented on #39
Another difference could be I'm not using x86 and I'm using k3s instead k8s but I don't think so

[2020-06-16 17:26] i5Js commented on #54
Can you share MetalLB ConfigMap and services descriptions?

[2020-06-16 17:40] i5Js commented on #39
I've just made the test and of course It didn't work. My perception is there is some bug or something with the http service... because the insert into the gravity.db using sqlite works via command line, this discard any issues in the persistence volume, PiHole -r also works....

[2020-06-16 17:44] r1cebank commented on #39
I have a feeling this is an issue caused by the mix of nfs + k3s + arm. I found a similar issue on the pi-hole forum, there is no solutions yet for that. The claim is probably linked with something with pv in k3s, since removing the pv will resolve the issue. https://discourse.pi-hole.net/t/k3s-unable-to-add-domains-to-lists-readonly-database/33460

[2020-06-16 17:46] i5Js commented on #39
I'm not totally agree, I can add using command line values into gravity.db there have to be something else.

[2020-06-16 18:11] r1cebank commented on #39
From what I can find in logs and online forums, its something else causing the www-data user not able to write to the database, but all the permissions checks out. If you check this post, it looks like the author used a manual local pv instead using the nfs-client https://kauri.io/68-selfhost-pihole-on-kubernetes-and-block-ads-and/5268e3daace249aba7db0597b47591ef/a

[2020-06-16 18:16] i5Js commented on #39
I’ve used manual and slow pv... It doesn’t make the difference

Obtener Outlook para iOS<https://aka.ms/o0ukef>
________________________________
De: Siyuan Gao <notifications@github.com>
Enviado: Tuesday, June 16, 2020 8:11:24 PM
Para: MoJo2600/pihole-kubernetes <pihole-kubernetes@noreply.github.com>
Cc: i5Js <erjotas@gmail.com>; Author <author@noreply.github.com>
Asunto: Re: [MoJo2600/pihole-kube

[2020-06-16 20:01] Gory19 commented on #39
I installed pihole through this guide but when I upgrade to version 5.0 I can no longer add domains.
By now I have resigned myself and I have remained at version 4.4 :(

[2020-06-16 20:15] RickCoxDev commented on #39
I still believe it's a permissions issue. I agree with @r1cebank. @i5Js did you run the command I posted before?

The next thing I can think of is the nfs server options that are used. Here are mine:
[code]

[2020-06-16 20:18] tekenny commented on #54
I don't know anything about MetalLB, is that needed?

I just followed the instructions in Readme.md and deployed pihole on my Raspberry Pi k3s cluster using the attached YAML

[pihole.txt](https://github.com/MoJo2600/pihole-kubernetes/files/4788909/pihole.txt)

[2020-06-16 20:27] i5Js commented on #39
@RickCoxDev indeed, I did, and it works.

root@pihole-6c94cbd5b4-46t7b:/# sudo -u pihole sqlite3 /etc/pihole/gravity.db "INSERT INTO domainlist (domain)^CALUES ('test.domain2');"
root@pihole-6c94cbd5b4-46t7b:/#

My nfs has the same options.

[2020-06-16 20:28] r1cebank commented on #39
My nfs options are identical with yours, I can only the user `pihole` when running the sqlite3 commands, `www-data` doesn’t work and I couldn’t figure out why it wouldn’t. I also tried with a docker installation with no mounted volume, the permission for the gravity.db is the same but it has no issues adding custom domains

[2020-06-16 20:29] i5Js commented on #54
There are some task needed, I recommend you the following tutorial:

https://kauri.io/build-your-very-own-self-hosting-platform-with-raspberry-pi-and-kubernetes/

[2020-06-16 20:43] tekenny commented on #54
Thanks, it looks like that may have the details I need!

[2020-06-16 20:43] #54 closed

[2020-06-16 21:07] MoJo2600 commented on #39
Hm I think this ist the root cause. At least if I understand it right: [https://github.com/pi-hole/docker-pi-hole/issues/328](https://github.com/pi-hole/docker-pi-hole/issues/328). It is an issue with the docker container. What do you think?

[2020-06-17 07:34] i5Js commented on #39
Yes, I saw it as well, I don’t if this could be the problem, because I set the variables and It didn’t work either.

[2020-06-17 10:24] Woodie-07 commented on #39
You need to add www-data to the pihole group.

[2020-06-17 10:54] i5Js commented on #39
I’m afraid it’s the solutions, www-data belong to pihole group

root@pihole-6c94cbd5b4-46t7b:/# groups www-data
www-data : www-data pihole

[2020-06-17 11:04] Woodie-07 commented on #39
Hmm, that should work. At least, thats what fixed it for me. I did that and rebooted and it fixed it.

[2020-06-17 11:57] MoJo2600 commented on #39
But this means, this has to be fixed in the docker container? I don't see a way how to fix this with helm or kubernetes :(

[2020-06-17 12:00] i5Js commented on #39
The groups are fine @MoJo2600  I don't think this is our problem.

[2020-06-17 12:03] MoJo2600 commented on #39
Ah, i misread the text :(

[2020-06-17 15:25] RickCoxDev commented on #39
@i5Js no you have to try to run it with the www-data since that is the user trying to write to the database. Reading is no problem, it's writing to the database which doesn't work, but that's the part that doesn't make sense because as @Woodie-07 said www-data has to be apart of the pihole group (which it is).

[2020-06-17 17:13] i5Js commented on #39
@RickCoxDev You're super right, it doesn't work:

`root@pihole-6c94cbd5b4-46t7b:/# sudo -u www-data sqlite3 /etc/pihole/gravity.db "INSERT INTO domainlist (domain) VALUES ('test.domain3');"`
`Error: attempt to write a readonly database`

[2020-06-17 17:23] i5Js commented on #39
Interesting, now the message has changed:

`root@pihole-6c94cbd5b4-46t7b:/etc/pihole#` sudo -u www-data sqlite3 gravity.db "INSERT INTO domainlist (domain) VALUES ('test.domain7');"`
`Error: unable to open database file`

[2020-06-17 17:50] i5Js commented on #39
Do you like tennis? :) Then "game, set and match me!"

It works now, it's super strange now, but it's working... how? well, more strange even. I tried to change the owner to www-data:www-data inside the pod, it didn't work, "read only message" but, I did it OUTSIDE, I mean, the PV, and Boom! working .

[2020-06-17 17:52] r1cebank commented on #39
One sec, you mean you did it OUTSIDE, meaning you changed it in the host mounted directory for the PV?

[2020-06-17 17:58] i5Js commented on #39
Exactly...

[2020-06-17 18:45] MoJo2600 commented on #39
Then I did read it right in another post. They were doing something similar. Could maybe someone check the acls of the file on the host machine? Maybe this will show something?

[2020-06-17 18:47] r1cebank commented on #39
i tried using the acl solution in the post, didn’t help much.

[2020-06-17 19:01] i5Js commented on #39
I'm going to make a new test: empty pv with new files then change the owners and lets see. I'll be back. :)

[2020-06-17 19:26] i5Js commented on #39
My test:
** Create a folder, dns, where will host the pv, and changed the ownership to www-data
** Installed from scratch, the folder's ownership changed from www-data to pihole. First attempt, didn't work.
** Changed the ownsership of dns to www-data, new attempt, didn't work.
** Changed the ownsership of gravity.db to www-data, new attempt, works.
** Changed the ownsership of dns to other user b

[2020-06-17 20:22] Gory19 commented on #39
OMG IT’S WORKS ! I love you :D

[2020-06-17 20:25] i5Js commented on #39
It was personal :D

[2020-06-17 20:27] r1cebank commented on #39
Yes, I can confirm the above method works, I am using nfs-provisioner with k3s, had to change the ownership for gravity.db and the data folder to be owned `www-data` for it to work. Thank you @i5Js

[2020-06-18 06:45] MoJo2600 commented on #39
Okay, but are there any ideas how we could fix this already during setup? Should we create a pull request on the docker repository?

[2020-06-18 06:53] i5Js commented on #39
For me has no sense. I mean, why with a pv is necessary change the permissions, because with the internal storage is not needed. And why, if www-data belongs to pihole group, you can’t write into the db. I don’t understand it

Obtener Outlook para iOS<https://aka.ms/o0ukef>
________________________________
De: Christian Erhardt <notifications@github.com>
Enviado: Thursday, June 18, 2020 8:45:51 AM

[2020-06-24 05:32] jetersen opened #56 "ingress templating is too cute"
The ingress templating is trying to be too fancy with appending virtualHost.

I'd like to have a single host ingress.
As it would be impossible to get a let's encrypt certificate for pi.hole

[code]

becomes:
[code]

[2020-06-24 11:45] MoJo2600 commented on #56
Sorry, i don't completely understand what has to be changed. I'm not too familiar with ingresses,

[2020-06-24 11:54] jetersen commented on #56
I use cert-manager to inject certificates.
Generating a certificate for pi.hole would be impossible if I used the default virtualHost.
So I must change the default.

With the current templating it would try and include the virtualHost into the rules but not TLS
and if I only enable ingress.
The default `host` is suddenly included but no TLS

[code]

Basically I am fighting with the odd templating

[2020-06-24 11:55] jetersen commented on #56
Looking at for instance prometheus-operator they handle it safely.

[code]

[2020-06-25 16:49] 11jwolfe2 opened #57 "Liveness probe failure"
I have been using version 4.4 of pi-hole for awhile now and went to update to version 5. When running on my cluster I get this error, that keeps pihole from starting.

`kubelet, kube-worker-1  Readiness probe failed: Get http://10.42.1.14:80/admin.index.php: dial tcp 10.42.1.14:80: connect: connection refused`

However If I uninstall the failed version 5 and roll back to 4.4, simply only changing

[2020-06-25 20:04] MoJo2600 commented on #57
Can you paste the output of the container log? I have version 5 running and it is working for me. I think there is a error during startup of the container.

[2020-06-25 21:03] 11jwolfe2 commented on #57
`kubectl logs pihole-65466fd47f-l5xlc -n pihole
`
outputs, but when it fails the log is reset, so it took me a few tries to get the whole thing.

[s6-init] making user provided files available at /var/run/s6/etc...exited 0.
[s6-init] ensuring user provided files have correct perms...exited 0.
[fix-attrs.d] applying ownership & permissions fixes...
[fix-attrs.d] 01-resolver-resolv: applying...
[fix

[2020-06-28 00:09] 11jwolfe2 commented on #57
This is what I get when I simply change 5.0 to 4.4 in the pihole.values.yml file and use helm install.

[s6-init] making user provided files available at /var/run/s6/etc...exited 0.
[s6-init] ensuring user provided files have correct perms...exited 0.
[fix-attrs.d] applying ownership & permissions fixes...
[fix-attrs.d] 01-resolver-resolv: applying...
[fix-attrs.d] 01-resolver-resolv: exited 0.
[f

[2020-06-30 20:34] 11jwolfe2 commented on #57
you can close this issue, I found that is you add to many lists it breaks my set up, limiting them made it install properly I am also having the issue shown in issue #39 though.

[2020-06-30 20:36] 11jwolfe2 commented on #39
When running the helm install command and watching the log I can see this. Is there a way to fix it?

chown: changing ownership of '/etc/pihole/pihole-FTL.conf': Operation not permitted
chown: cannot access '': No such file or directory
chmod: cannot access '': No such file or directory
chown: changing ownership of '/etc/pihole': Operation not permitted
chown: cannot access '/etc/pihole/dhcp.lease

[2020-07-01 14:55] mikebell opened #58 "PiHole not reachable after 2-3 hours"
I'm running the latest version of the chart on microk8s. Here are my values:

[code]

When I install the chart everything works fine and I can see the admin page on http://192.168.1.101/admin after 2-3 hours it becomes unreachable.

Running:

`k -n pihole rollout restart deployment pihole`

Brings the application back up again.

I'm aware that this might not even be an issue with this chart but I'

[2020-07-01 20:53] craigjmidwinter opened #59 "can't change sharing key for "pihole/pihole-tcp", address also in use by pihole/pihole-udp"
For some reason, I can't seem to colocate the tcp/udp services. Says there is an issue with the sharing key.

[code]

Relevant values.yaml:
[code]

[2020-07-02 02:26] craigjmidwinter commented on #59
hmm, not sure what sure the issue was, but I pulled the version from the repo as opposed to pointing to the charts directory and it worked

[2020-07-02 02:26] #59 closed

[2020-07-03 09:20] #58 closed

[2020-07-04 01:05] jorp commented on #54
@i5Js

Site seems to have 404'd, any mirror?

@tekenny

Any details as to what might've fixed your issue?

[2020-07-04 06:08] i5Js commented on #54
@jorp it seems the host is down, you should wait.

[2020-07-06 17:20] taikoThe commented on #54
@jorp having same problem and desperately waiting for kauri.io to com up :)

[2020-07-06 19:44] taikoThe commented on #54
@jorp
for me traefik included in k3s was causing troubles. After removal of traefik deployment I have installed pihole and it worked fine, with no TCP pending issue
more info
https://github.com/colin-mccarthy/k3s-pi-hole

but, I have no idea yet, what are consequences of traefik removal :)

[2020-07-06 19:47] i5Js commented on #54
@taikoThe You need to install metalb if you don't want to install traefik

[2020-07-06 20:16] taikoThe commented on #54
I see, but won't I have same problem the as with traefik installed ? Would you please mind to clarify why do I need either of them ?

[2020-07-07 07:31] MoJo2600 commented on #57
Good to know

[2020-07-07 07:31] #57 closed

[2020-07-07 08:55] MoJo2600 commented on #54
The pihole deployment will create a [kubernetes service](https://kubernetes.io/docs/concepts/services-networking/service/) for you. A kubernetes service is just a abstract way to expose an application. Kubernetes by default has no way to create a 'physical' connection to the world outside of the cluster. This is where metallb or treafik, etc comes into play.  Metallb for example will see that a se

[2020-07-07 09:38] taikoThe commented on #54
but that was actually my problem. k3s is coming with traefik installed and occupying 80,443 and then pihole wasn't working, with tcp pods pending

[2020-07-07 10:43] MoJo2600 commented on #54
Then i would recommend to install metallb on the cluster and let metallb expose the ports on a different ip. I think metallb and treafik should be able to work side by side. I'm not sure if there is a way to tell treafik to ignore the pihole services and let metallb handle those. I have no experience with treafik.

[2020-07-07 12:37] Henrik-Wo opened #61 "Local DNS Records aren't reachable"
As soon as I create a local DNS entry, the page/server is no longer accessible locally. When I install pi-hole on a single RPI, local entries work fine.

[2020-07-25 21:58] dtourde opened #63 "Add possibility to avoid other pihole release"
In a kubernetes cluster, if you have multiple (2 for example) pihole to avoid DNS outtage, you also want to have them scheduled in different nodes.

[2020-07-25 21:59] dtourde commented on #63
Created PR #64 to add this feature.

[2020-07-27 05:45] #56 closed

[2020-07-27 09:45] MoJo2600 commented on #63
I merged your pull request. Thank you very much!

[2020-07-27 09:45] #63 closed

[2020-07-27 09:45] MoJo2600 commented on #61
Can you post your configuration please?

[2020-07-31 10:41] Henrik-Wo commented on #61
I was able to partially solve the problem. Now use a defined 'loadBalancerIP`. However, the problem still exists when I connect to my LAN via VPN. The AddBlocker still works, but the local DNS entries are not accessible...

I attached my 'values.yml'.

[pihole.values.yml.txt](https://github.com/MoJo2600/pihole-kubernetes/files/5006593/pihole.values.yml.txt)

[2020-07-31 14:59] sean-abbott opened #68 "can't set DNS2 to empty or no"
docker-pi-hole configuration allows you to set DNS2 to no if you want a single dns server (which I do, because I'm running coredns on k8s with the pi, and that should be my only dns)

When I set DNS2 to "no" in values, it fails the checks.

When I set it to no (no quotation marks) it passes through, but then sets google dns as the second dns.

I'm new to k8s and haven't figured this out yet.

http

[2020-07-31 15:00] sean-abbott commented on #68
(and then I can temporarily change this in active esttings, but eventually it picks it back up from the configmap.)

[2020-08-13 05:49] plsnotracking opened #69 "chown: cannot access '/etc/pihole/dhcp.leases': No such file or directory"
So, the pihole seems to have started up all right but as I was going through the logs:
[code]

Is there something that I missed that maybe should've worked?

Also another question, how do I setup DoH?

I was following this - https://kauri.io/68-selfhost-pihole-on-kubernetes-and-block-ads-and/5268e3daace249aba7db0597b47591ef/a and they seem to have not explained that, is there any place I can read

[2020-09-18 09:55] Doriangaensslen commented on #54
I tried to install metallb with helm alongside, which itself was not a problem.
`helm install metallb stable/metallb --namespace kube-system \
  --set configInline.address-pools[0].name=default \
  --set configInline.address-pools[0].protocol=layer2 \
  --set configInline.address-pools[0].addresses[0]=192.168.0.240-192.168.0.250`
I tried then to use a IP that is not already assigned to the cluster

[2020-09-18 09:57] i5Js commented on #54
If you’re going to use metallb, you should uninstall traefik, since both are load balancers

Obtener Outlook para iOS<https://aka.ms/o0ukef>
________________________________
De: Dorian <notifications@github.com>
Enviado: Friday, September 18, 2020 11:55:27 AM
Para: MoJo2600/pihole-kubernetes <pihole-kubernetes@noreply.github.com>
Cc: i5Js <erjotas@gmail.com>; Mention <mention@noreply.github.com>
A

[2020-09-18 10:03] Doriangaensslen commented on #54
I know it would work if i uninstall traefik, but i try to use both, since traefik is a Layer 7 LB and metallb Layer 4 they serve different purposes.
Maybe there is a way to assign a IP range to Metallb and another to traefik.

[2020-09-18 13:48] Doriangaensslen commented on #54
I will try this tutorial [https://www.disasterproject.com/kubernetes-with-external-dns/](url) and report back

[2020-09-18 17:43] i5Js commented on #54
Interesting.. I’m using Nginx as ingress & proxy load balancer.

[2020-09-22 17:24] dtourde opened #72 "Add possibility to have preferred instead of required in antiAffinity"
PR #71 address this issue.

[2020-09-24 17:41] Yabbo opened #73 "pihole 5.1.2"
I changed the image in my deployment script to pull down 5.1.2 and it seams to be working fine. you may want to update the newest chart to support pihole 5.1.2 rather than pulling 5.1.1 by default.

[2020-09-25 13:17] MoJo2600 commented on #72
Thank you! I merged it already.

[2020-09-25 13:17] #72 closed

[2020-09-25 13:20] Ymac101 commented on #3
Hi there, I am also experiencing this problem, and nothing seems to solve it.
I am quite a noob to kubernetes, but I think I got the hang of it mostly,  I'm pulling my hairs already, I'm on this for the last week.
k3s info:

Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.1", GitCommit:"206bcadf021e76c27513500ca24182692aabd17e", GitTreeState:"clean", BuildDate:"2020-09-09T11:

[2020-09-25 13:31] #73 closed

[2020-09-28 07:43] MoJo2600 commented on #3
Could you please elaborate a bit more? I'm not sure I understand what the problem is.

[2020-09-28 08:54] SiM22 commented on #68
They should be hardcoded by default in `templates/deployment.yaml`

[code]

[2020-09-28 12:43] Ymac101 commented on #3
Hi, sorry if I wan't clear.
I'm experiencing the same issue the original poster of this issue, my pihole instance fails to see client's IP's - all traffic seems to come from the host, and it kinda kills the point of pihole when there's no client visibility.
I tried messing with metallb and using it in BGP instead of L2 mode, but it didn't seem to make a difference.
Of course I'm using `spec.extern

[2020-09-29 13:46] 11jwolfe2 commented on #69
This happens for me as well. I used that same tutorial to set up my cluster. If you are using a persistent volume as well, use a ssh connection to get to your drive and run these two commands.
`ls -l`   ----> this will show the owner and user of each file they all should be www-data if not run this cmd
`sudo chown -R www-data:www-data pihole` from the /mnt/ssd directory described in the tutorial.

[2020-09-29 13:52] 11jwolfe2 opened #76 "Restart fails for pihole"
So this is an issue I have been having since first using this container. Whenever my container bricks and is restarted it continues to restart because it fails when loading my adlists. When using the `kubectl logs (podName) -f` I can see the container going out and loading in the blocklists and after adding a few it fails and reboots, not always at the same list. Sometimes it loads them all then t

[2020-09-29 16:34] brnl commented on #76
How long does it take to start? Maybe you should increase the probes.readiness.initialDelaySeconds to something higher than 60.

[2020-09-30 04:21] brnl commented on #39
Manually changing the ownership on /etc/pihole and /etc/pihole/gravity.db work temporarily for me. As soon as I update gravity.db via the webgui (http://pi.hole/admin/gravity.php), the ownership of /etc/pihole/gravity.db has been reset to pihole:pihole.

I'm also running a PersistentVolumeClaim on NFS.

[2020-09-30 05:45] brnl commented on #39
### Fixed!
The problem is in the NFS server configuration!

### TL;DR:
Remove `--manage-gids` from the `RPCMOUNTDOPTS` in the file `/etc/default/nfs-kernel-server` on the NFS server and restart the `nfs-kernel-server` service.

### Research
So I found out that if user www-data had pihole as the _primary_ group, I was able to write the gravity.db. As soon as I made www-data primary again and pihole

[2020-09-30 06:32] MoJo2600 commented on #39
@brnl You are my hero! I spent hours to try to find a solution. Can anybody of the others try the solution and report back please?

[2020-09-30 06:47] MoJo2600 commented on #76
Yes, this is a issue that i face as well. I have to test the `initialDelaySeconds` as well.

[2020-09-30 07:20] i5Js commented on #39
Awesome @brnl works flawless now... I modified the nfs-kernel-server file and perform a gravity update using the web-ui and the owner and permissions remains and of course it is still working.

Many thanks for your knowledge here, really help me to understand which was the issue.

[2020-09-30 17:38] r1cebank commented on #39
Thanks @brnl for your solution, I modified the config and did a fresh reinstall of pi-hole with nfs storage client, it works now :+1:

[2020-09-30 18:17] brnl commented on #39
Glad I could help, guys! :+1:

[2020-09-30 18:38] MoJo2600 commented on #39
Thanks for resolving this issue, finally i can close it. See @brnl  [comment](https://github.com/MoJo2600/pihole-kubernetes/issues/39#issuecomment-701169533) for a solution to this issue.

[2020-09-30 18:38] #39 closed

[2020-09-30 21:35] 11jwolfe2 commented on #76
Updated both p`robes.liveness.initialDelaySecond` and `probes.readiness.initialDelaySecond` to 480 and it started properly after helm upgrade.

[2020-09-30 21:35] #76 closed

[2020-09-30 21:36] 11jwolfe2 commented on #39
Does anyone have an idea how to do this for an Open Media Vault NFS share?

[2020-09-30 21:56] brnl commented on #39
@11jwolfe2

If it's just Linux, I'm sure you can change the same file as described. See https://openmediavault.readthedocs.io/en/latest/various/files.html.

[2020-09-30 23:05] plsnotracking commented on #69
Seems like I still get the error:

[code]

What I did was, as you suggested, unless I missed something.

- `ssh` onto my pi.
- `cd` to the pi-hole folder within `/mnt/ssd`
- run `sudo chown -R www-data:www-data pihole` from the outside.
- Output
[code]

Thanks @11jwolfe2

[2020-10-01 22:21] brnl opened #77 "Pi-Hole in HA mode (multi-pod)"
Hi,

I wanted to get PiHole working as a 2-pod HA-cluster, so I can distribute them over multiple hosts. I found that the nginx persistent cookie could help. For your information, here is a working values file, based on chart version 1.7.17.

You need a central storage, available to all pods like NFS.

[code]

This should also work with Treafik, which is the default on K3S but I didn't test this:

[2020-10-04 02:17] brnl opened #78 "What's the reason for the split TCP / UDP services?"
Hi @MoJo2600,

What's the reason you've chosen to have two services, one for TCP and one for UDP ports? I've tested with my branch [brnl-single-service (compare)](https://github.com/MoJo2600/pihole-kubernetes/compare/master...brnl:brnl-single-service) and this seems to work fine as well for me.

It also seems more logical as port 53 TCP and UDP are related to each other.

[2020-10-05 20:37] brnl commented on #78
Apparently it is required for load balancing since Kubernetes doesn't allow multi-protocol loadbalancers. Read more in the close message in #79.

[2020-10-11 00:34] SiM22 commented on #68
@MoJo2600 i think you can close this

[2020-10-12 02:27] sean-abbott commented on #68
I mean I don't think you should have to go into the template to set this;
Plus, it's defaulting to  either google or cloudflare (can't recall), not
localhost, so that doesn't seem like the problem.

On Sat, Oct 10, 2020 at 8:34 PM Simon Garcia <notifications@github.com>
wrote:

[2020-10-14 05:56] MoJo2600 commented on #77
Thank you, I added it to the README :)

[2020-10-14 05:56] #77 closed

[2020-10-14 06:00] MoJo2600 commented on #61
Hm... i'm not sure I can help with this. This might be more of an pihole issue or and VPN configuration issue than an pihole on kubernetes issue?

[2020-10-14 06:00] MoJo2600 commented on #49
Stale issue, closing.

[2020-10-14 06:00] #49 closed

[2020-10-14 06:09] MoJo2600 commented on #68
I think the `dnsConfig` setting might be the issue? It sets the default DNS to google.

[code]

But i can't figure out, why setting `DNS2` to `no` should not work.

[2020-10-14 06:12] MoJo2600 commented on #69
Does it possibly be the same issue that has been resolved in this issue: #39 Just guessing, as I do not know your exact setup.

[2020-10-19 13:23] Rahulsharma0810 opened #84 "exposing metrics through service"
Currently, if metics needed to be scraped,  below conf work, which included pod IP.

[code]

[code]

But the pod IP can be easily changed on different events, it's better to create SVC for it so the IP will be static.

[2020-10-22 14:35] Doriangaensslen commented on #54
Ok, it seems to work, however, I had to do the following:
New installation:
`pi@k3s-master:~ $ export K3S_KUBECONFIG_MODE="644" `
`pi@k3s-master:~ $ export INSTALL_K3S_EXEC=" --disable servicelb"`
`pi@k3s-master:~ $ curl -sfL https://get.k3s.io | sh -`
-> The problem in fact is servicelb not traefik as I understood. Like I mentioned traefik does Layer 7 Loadbalancing. so to use metallb instead of

[2020-10-23 07:09] plsnotracking commented on #39
I'm using a simple manual storage, my setup doesn't have anything to do with `NFS Share`.

When I reinstall the new setup with a helm installation, I loose all my `dhcp.leases` and `setupVars.conf`

I've hopped on to the container and have changed ownership of all the folders.

[code]

I keep seeing this error at boot in the logs.
[code]

Here's my setup guide I've used:
https://kauri.io/68-selfho

[2020-10-27 16:57] wrender opened #85 "Configuration Help"
Thanks for the helm chart. I'm having an issue and looking for some basic help.  I have a single centos 8/kubernetes host for testing so no external load balancer. I have the following set (below) but the host doesn't seem to forward DNS requests from my test network to it to the pihole NodeIP ports for dns tcp and udp:

[code]

Then on firewalld I forward ports like:
[code]

[2020-10-27 17:12] wrender commented on #85
I think I have resolved this myself. If anyone else comes across the problem.  I just did a:
`netstat -anp | grep :53`
Noticed systemd resolved and also libvirt was using port 53 locally (which I didn't really need).. Then I just followed the instructions here to disable it:  https://medium.com/@niktrix/getting-rid-of-systemd-resolved-consuming-port-53-605f0234f32f

[2020-10-27 17:12] #85 closed

[2020-11-02 06:53] #84 closed

[2020-11-10 14:30] kbreit opened #87 "Conditional DNS isn't working"
I enabled conditional DNS forwarding and it seems to create the file `02-custom.conf` properly. However, when I logged into the PiHole interface the checkbox for "Conditional Forwarding" wasn't enabled. I set it manually using the web interface and found it added the `server=` entry to `01-pihole.conf` instead of `02-custom.conf`.

[2020-11-11 13:09] MoJo2600 commented on #87
Can you provide your configuration?

[2020-11-17 21:34] Cryotize opened #88 "Unable to install pihole bause of resolve errors"
## Problem

I followed Jeff Geerlings guide to install pihole, but i can't figure out what the problem is. When trying to install the helm chart, 1 container fails because it can't pull the image.

## Events / Logs

Name:         pihole-9cf8cd796-6hg94
Namespace:    pihole
Priority:     0
Node:         slave1/192.168.1.201
Start Time:   Tue, 17 Nov 2020 21:14:07 +0000
Labels:       app=pihole

[2020-11-21 16:25] radicand commented on #87
I use conditional forwarding just fine with this repo, enabled via the extraEnvVars option:

[code]

How are you enabling it for your use-case?

[2020-12-02 20:12] brnl commented on #88
This should be fixed by commit 34656cb, 2 days ago. The configured version (5.1.2) was removed from Docker Hub.

What you could have done yourself is to check hub.docker.io and search for pihole (here's a [direct link](https://hub.docker.com/r/pihole/pihole/tags?page=1&ordering=last_updated)) and then look at the tags to find the latest tag (version).

Now you have two methods to tell Helm to use

[2020-12-03 06:28] MoJo2600 commented on #88
Thanks for the help @brnl - @Cryotize let us know if it is working.

[2020-12-05 18:31] Cryotize commented on #88
Thanks for the help @brnl. Sadly it didn't work out, i am still getting the same error. I have updated the helm chart and tried multiple Versions like latest and v5.2. I tried it with the values.yaml file and the override too.

See this output:

root@master:~# kubectl describe pod pihole-6887d968f7-k54xb -n pihole
Name:         pihole-6887d968f7-k54xb
Namespace:    pihole
Priority:     0
Node:

[2020-12-05 18:46] brnl commented on #88
@Cryotize I think your DNS is not working, due to the last line in your log:
`Head https://registry-1.docker.io/v2/pihole/pihole/manifests/v5.2: dial tcp: lookup registry-1.docker.io: Try again`
You might need to troubleshoot that first.

Can you also share your used values? See [helm show values](https://helm.sh/docs/helm/helm_show_values/).

[2020-12-05 19:13] Cryotize commented on #88
I tried the command, no idea what i'm doing wrong. I tried both release names, for helm and pihole, both did not work. Can you give me the correct syntax? I'm still no to helm and k3s.

See this output:

root@master:~# helm install --version '1.7.21' --namespace pihole --values pihole.yaml pihole mojo2600/pihole
NAME: pihole
LAST DEPLOYED: Sat Dec  5 19:07:56 2020
NAMESPACE: pihole
STATUS: deploye

[2020-12-05 20:44] dza89 opened #90 "Rework services"
Right now there is a tcp and a udp service.

I think it makes more sense to have three services:

1. webservice
2. dhcp service
3. dns service

I will make the MR if you agree, but i don't really know the background behind the separation in tcp and udp, so I thought I would ask first.

[2020-12-05 21:06] dza89 commented on #90
Or just one service with three blocks in it and then if .value.webservice enabled etc.

[2020-12-06 11:34] brnl commented on #88
@Cryotize Please post your code blocks between \``` and \``` so the indentation is preserved. You can even specify the language of the codeblock, like ```yaml for yaml coloring. See the [Markdown examples](https://guides.github.com/features/mastering-markdown/#examples) and select 'code'. :-) So your pihole.yml looks like this:

[code]

But... For your problem: Can you ping `registry-1.docker.io`

[2020-12-07 07:33] MoJo2600 commented on #90
The reason behind the separation is, that the Loadbalancers are bound to one protocol. You can either have a TCP or an UDP Loadbalancer. As long as we can not have mixed protocol load balancers, we have to keep them separated.

There is already another PR to separate the loadbalancers to make them more compatible to traefik [81](https://github.com/MoJo2600/pihole-kubernetes/pull/81) - but I'm wait

[2020-12-07 20:16] #90 closed

[2020-12-09 21:30] Cryotize commented on #88
Thanks for your help!

Seems like the DNS is not working correctly, see this output:

[code]

The weird part is, this only happens when Pihole is installed, it looks like it breaks itself. Any idea why? :thinking:

[2020-12-10 06:38] MoJo2600 commented on #88
Are you using pihole as the dns server on the kubernetes node you're trying to run pihole? It look to me like this because you are doing all commands on the same machine. This will not work, because you are creating a circular dependency. The kubernetes hosts needs a working DNS to retrieve images from docker, but can't because the dns is not working. Hence `ImagePullBackOff`. My kubernetes nodes

[2020-12-10 19:02] Cryotize commented on #88
Again, thanks a lot for the help. I disabled ```systemd-resolved.service```, edited ```/etc/resolv.conf``` and added 8.8.8.8 as the primary DNS Server. Installing Pihole is working properly now and pinging google.com is successfull.

The bad news is, when i try to access the webpanel, i get the ```404 page not found``` error.
I couldn't figure out why this happens. I have already looked it up and

[2020-12-13 00:18] brnl commented on #88
Are you sure you are querying the pihole webserver?
Can you show us the output of `kubectl get service -n pihole`?

[2020-12-13 00:42] bynicolas commented on #88
I'm having similar issues, I installed my cluster using `k3s` and k3s comes with `coreDNS` to manage the cluster's NS, when you install Pi-hole, I'm assuming you get some kind of circular reference scenario and you get DNS issues (just guessing here).

Installing Pi-hole and exposing the node's public IP worked for me.  But I wasn't satisfied with that setup.

My particular issue, since I managed

[2020-12-13 12:08] Cryotize commented on #88
Sure, here's the output:

[code]

The Webserver should be available on 192.168.1.110/admin/, but no success :-/

[2020-12-13 13:08] bynicolas commented on #88
well no, from your output, the http service on which pihole's web server exists is not exposed. the `external-ip` you have is for the DNS service on the `UDP` protocol.

You would need an `ingress`(`ingressRoute`) config telling traefik (assuming this is what you have) to route to the `pihole-tcp` service

as far as disabling coreDNS, I think you could start each server with the `--disable coredns

[2020-12-13 13:09] brnl commented on #88
No, the DNS server will be available at 192.168.1.110, the webserver will be available at http://<pending>/admin, but that's not gonna work ;-) You can test the DNS server with dig, by the way:
`dig github.com @192.168.1.110`

[2020-12-16 11:16] MoJo2600 commented on #61
I will close this issue due to inactivity. If you have further questions, please feel free to open it again.

[2020-12-16 11:16] #61 closed

[2020-12-17 13:49] ChristophvdF commented on #88
Hi all
I am very new to the whole kubernetes and helm stuff. I am having a similar problem here but for me the web interface won't start. My cluster consists of 1 Raspberry pi 4 8GB (master) and 3 Raspberry pi 4 1GB (workers)

**Output**
[code]

**My yaml file**
[code]

**Install commands**
`helm install --values pihole.yaml --namespace pihole pihole mojo2600/pihole`

I hope you guys could help me

[2020-12-18 11:16] MoJo2600 commented on #88
Can you do a `kubectl describe svc pihole-web` please?

[2020-12-18 12:04] ChristophvdF commented on #88
Hello, thx for your response. I am more than sure that i messed up at some point.

**Pihole-Web description**
[code]
**Get service output**
[code]

Thank you for your support!

[2020-12-18 19:59] AndyG-0 commented on #88
It looks like you are running k3s. K3s by default uses Traefik. This uses up ports 80 and 443 on your nodes unless you explicitly install k3s without it. If you didn't exclude Traefik from being installed I would use a loadbalancer for the dns and then use an ingress for web. This is how I have mine setup.

[2020-12-18 20:43] ChristophvdF commented on #88
Yes you are right, I am using k3s. I already tried setting up Metallb as loadbalancer, sadly without any success. Again I think I made some configuration errors there... You do not happen to have a tutorial laying around on how to configure traefic and Metallb side by side you could forward me?

Thanks in advance!

[2020-12-18 21:41] AndyG-0 commented on #88
I don't have a tutorial but you should be able to just set the ingress to true in the values.yaml and setup a host. I'm using nip.io for wildcard dns'ing on my local network. https://nip.io/ Then the dns can be set to loadbalancer and you can set which host IP you'd like:

serviceDns:
[code]

Ingress section:
[code]
Then point your clients or router toward the ip address of the loadbalancer for dn

[2020-12-19 12:24] ChristophvdF commented on #88
Hello @AndyG-0 I tried your suggestions today but sadly still the same result. Again I am more than sure that I messed up the config again (Still learning)

I installed metallb with this config
**metallb**
[code]
On my router I created a new VLAN for the ip range 192.168.1.0/24 so that metallb can use the rest of the space.

Than installing pihole using the following settings
**pihole**
[code]

Th

[2020-12-21 06:48] MoJo2600 commented on #88
If your using k3s i'd recomment to get familiar with Traefik and use this as the ingress. Metallb is working for me (not using k3s), but it seems like the Traefik is better integrated into k3s.

But what i see in your config:
[code]
and
[code]
have to match.

and loadBalancerIP: ` loadBalancerIP: 192.168.1.0` will not work, this is not a valid IP address.

My metallb config:
[code]
My values.yml (

[2020-12-22 17:48] vavallee opened #98 "doh enabled pods do not stay ready"
Hiya!
Chart works great with pihole, however if I set doh to enabled (leaving the rest of the config as-is), the container does not become ready, and DNS resolution does not work in pihole.
If I describe the container I get:

`Container cloudflared failed liveness probe, will be restarted`

All there is in the container log for cloudflared is:

[code]

[2020-12-22 17:50] vavallee commented on #98
What's more weird, is in the describe, 1 success and many failures in the liveness
`
 Liveness:     exec [/usr/bin/nc -uzvw3 localhost 5053] delay=0s timeout=1s period=10s #success=1 #failure=3`

[2020-12-25 12:01] MoJo2600 commented on #98
I'm sorry, but I can't help you with this. I did not test this setup. I hope one of the other users who have doh enabled can help?

[2020-12-25 18:11] tomdoherty commented on #88
https://github.com/MoJo2600/pihole-kubernetes/pull/101 fixes it for me. when doing an upgrade we need one at least one pod running or DNS breaks

[2020-12-26 15:58] i5Js commented on #98
I have the same problem, my pods works fine, but the syslog is full of those lines and stuck my node.

[2021-01-01 11:24] c-yco opened #104 "DHCP leases should use loadbalanced IP if available"
Currently the dhcp lease handed out to the clients uses the node IP where the pihole pod is running as the dns server. This means if  this nodes gets down or the pod is resheduled to another node dns requests from the clients fail.

With bare metall LBs like metallb or purelb it should be possible to use the loadbalancer ip of the service instead as the dns server in the lease.

The chart should b

[2021-01-02 20:06] sam-kleiner commented on #87
@kbreit It looks like pihole [deprecated those old env vars](https://github.com/pi-hole/docker-pi-hole#deprecated-environment-variables), if they aren't working I would try the [new ones](https://github.com/pi-hole/docker-pi-hole#environment-variables). Note `CONDITIONAL_FORWARDING_REVERSE` was replaced with `REV_SERVER_CIDR` and has a different format. I tested and reverse lookups still work. My

[2021-01-02 20:22] sam-kleiner commented on #98
I have doh enabled and it is working without issue. I redeployed my setup last night from a very old version of this chart.

My logs look *almost* identical to @vavallee, but the last two lines are flipped. Possible the image changed recently. Might help to set `doh.pullPolicy = true` and redeploy to force the update.

[code]

[2021-01-02 20:39] vavallee commented on #98
I do suspect the issue is because of a new image for the cloudfared image.
I have manually disabled the liveness prove for that container, and it seems to run perfectly. I am not sure what's up with that probe. Maybe it's starting too quickly for my cluster?

`/ $ /usr/bin/nc -uzvw3 localhost 5053
localhost ([::1]:5053) open
/ $ /usr/bin/nc -uzvw3 localhost 5053
localhost ([::1]:5053) open
/ $ dig

[2021-01-02 20:47] i5Js commented on #98
I've uninstalled, because my node is completely stuck.

@vavallee where can I disable the liveness? probes section in values template?

Thanks

[2021-01-02 20:50] vavallee commented on #98
I did it by editing the deploy manually.
`kubectl edit deploy pi-pihole`
and setting
`initialDelaySeconds: 120`
to see if the liveness is starting too fast

[2021-01-02 21:05] i5Js commented on #98
I've disabled it editing the deploy. Now the node is alive and no errors.

[2021-01-02 21:08] vavallee commented on #98
Agreed. It doesn't restart at all if the probe is disabled. But Even setting the `initialDelaySeconds` and `periodSeconds` to higher numbers didn't seem to stop the probe from failing, I think I'll need to play with the numbers. Very strange.

[2021-01-02 21:13] i5Js commented on #98
Awesome, all my problems in my k3s cluster was because of this, now, everything is working flawless. Fingers cross!

[2021-01-03 22:01] vavallee commented on #18
Hi @gjeanmart ! Thanks for this issue, I have been having the same trouble with my pihole on microk8s! This helped me alot, but I am running into a major issue. Pihole won't start with hostNetwork because port 53 is already in-use, which I presume is the dns of Kubernetes.

Is there any way to have 53 bind to the loadbalancer instead of the hostNetwork?

[2021-01-04 20:13] vavallee opened #106 "Static DHCP entries are not persistent"
I am using pihole as a DHCP server for my network.

Once this chart gets installed and is working, I went ahead and set all the DHCP settings in the web-interface

I then added all the static leases for my network devices.

However if the pod terminates, the static lease information is not persisted. It looks like all the other configs are persisted properly.
It looks like pihole is storing the st

[2021-01-04 20:16] vavallee commented on #104
Did you actually get DHCP to reply to requests without using hostnetwork?

[2021-01-09 19:51] kbreit opened #107 "Formerly working install no longer starts"
I had a working installation until this morning when I noticed DNS wasn't working. It appears the pod isn't taking the proper volumes and is erroring out. It's on the latest version of the Helm chart. Did something change in 1.8.23 or other recent versions that would make this incompatible?

[code]

Values file is...
[code]

[2021-01-11 02:27] tomdoherty commented on #58
@mikebell did you find a solution to this?

[2021-01-11 10:19] mikebell commented on #58
If my memory is correct I had two applications fighting over `192.168.1.101`. I've since changed the IP address of pihole and not had any issues.

[2021-01-12 07:53] MoJo2600 commented on #106
Could you test it with the latest version, #91 added a option to added static dhcp entries. This change should create the file you need. I'm currently not sure if the file is then writable.

[code]

[2021-01-12 16:33] c-yco commented on #104
no, I am still using hostnetwork. But if the loadbalancer IP is used, a change of the node wont have any effect on the dns requests of the clients.

Regarding getting rid of host network. I think this is not totally possible as dhcp is using broadcast. But it should be possible to create a pod which runs a dhcp proxy with host networking, and configure this proxy to forward the dhcp request to the

[2021-01-13 10:31] MoJo2600 commented on #107
I seems to have something to do with the volumes. Without the volume definition it is working for me. The version was updated from pihole 5.1 to 5.2 and then 5.2.1. But I'm currently not aware of a change to the persistence settings in pihole.

[2021-01-13 10:31] MoJo2600 commented on #98
Does it work now? If so, we could close this issue.

[2021-01-13 10:33] MoJo2600 commented on #69
#107

[2021-01-13 10:35] MoJo2600 commented on #107
Maybe it is a setting on the NFS side. A issue with NFS has been solved in #39 - may this helps? I can't assist on NFS issues, i do not use NFS.

[2021-01-13 14:23] i5Js commented on #98
I don't think so. I have always to modify the deployment en remove the liveness in the DOH container.

[2021-01-14 14:38] vavallee commented on #104
I think you are right, and it's a limitation of broadcast networking.

I ended up just using a nodeselector for the DNS host.

Good idea about the dhcp-proxy, I will look into this when I have time.

[2021-01-14 14:39] vavallee commented on #106
Thank you, I will test it as soon as I have some time.

[2021-01-19 14:50] kbreit opened #127 "Upgrade to v5.5"
Pihole announced a new release which fixes a lot of dnsmasq vulnerabilities (https://pi-hole.net/2021/01/19/pi-hole-ftl-v5-5-released-update-today/). They're recommending everyone update today. The helm chart should be upgraded to by default, install these versions.

[2021-01-19 16:30] #127 closed

[2021-01-20 12:50] i5Js commented on #98
Hello @MoJo2600 I've already tested the last chart. It work flawless at least in my cluster, so I guess this issue could be archived

[2021-01-20 17:06] MoJo2600 commented on #98
Awesome, if there is anything else, open this issue again please.

[2021-01-20 17:06] #98 closed

[2021-01-26 13:28] elcid2012 commented on #69
@MoJo2600 I'm getting this error in the logs on a fresh Docker installation, although everything seems to be working. That is, I just tested adding a domain to the whitelist without issues.

Incidentally, I just checked the logs of my existing Pi-Hole that's been running for months, also Docker, and it's showing the same error.

I am not using the DHCP server feature on either Pi-Hole, so perhaps

[2021-01-28 10:29] Stone2971 opened #129 "Readonly Pod on NFS"
If i deploy a pihole pod with helm on my k3s cluster on the local storage class all work well.
If i deploy a pihole pod with helm on my k3s cluster on my nfs storage class i cant add dns entries or blacklist entries.
I always get this error:

I use the nfs provider from
[https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner](https://github.com/kubernetes-sigs/nfs-subdir-external-provi

[2021-01-28 13:18] MoJo2600 commented on #129
We had this issue a few times now. Please have a look here, if this resolves your problem: https://github.com/MoJo2600/pihole-kubernetes/issues/39#issuecomment-701169533

[2021-01-28 14:52] Stone2971 commented on #129
Thank you. This was the problem.
Yes NFS groups and NFSv4 are often a problem.

My deployment works and i can save data. Yeeha ;-)

[2021-01-28 15:30] MoJo2600 commented on #129
I added a topic under discussions Q&A because it seems like a lot of people have the same issue  https://github.com/MoJo2600/pihole-kubernetes/discussions/130

[2021-01-28 15:30] #129 closed

[2021-01-28 19:35] MoJo2600 commented on #69
Ok, I'll have to check if I can reproduce this error

[2021-01-30 17:01] i5Js opened #131 "[New feature]Add local dns records to values file"
Starting in 5.0, we can add local records to Pihole using the web interface. Theses entries are save in the file /etc/pihole/custom.list.

Is it possible to add it?

Thanks.

[2021-01-31 21:22] Roelski commented on #69
Is used this to get it running for me. thanx!
Running a shell inside the pihole docker container.
With ls -l /etc/pihole there were different permissions. Some root, some pihole.
Used:
cd /etc
sudo chown -R www-data:www-data pihole

All done inside the container.
Hope this helps others.

[2021-02-03 08:56] kbreit commented on #107
There was a storage issue causing this problem. Closing the case

[2021-02-03 08:56] #107 closed

[2021-02-08 13:11] MoJo2600 commented on #131
Yes, this should be possible. We have to make sure, that the file is stored in the persisted volume.

[2021-02-08 13:28] i5Js commented on #131
Ok, thanks!

[2021-03-04 22:09] noenthu commented on #88
Encountered the same issue with k3s and this helm package.
If resolv.conf isn't changed to point to an upstream dns, the pihole pod keeps returning ErrImagePull.
Tried this by disabling traefik. I believe it is a CoreDNS related issue.

[2021-03-07 15:36] c-yco commented on #104
Created https://github.com/MoJo2600/pihole-kubernetes/pull/133 for this

[2021-03-11 18:08] kbreit opened #134 "adlist isn't applying lists"
I have the following information in my values file:

[code]

It creates the adlist ConfigMap and the `/etc/pihole/adlist.list` file but I don't see the adlist showing up in the web UI.

[2021-03-16 12:34] airen29 opened #135 "Adding possibility to attach bash script/configmap in Deployment"
Hi.
 With the working https://gitlab.com/grublets/youtube-updater-for-pi-hole I would like to add `bash` script to `ConfigMap` (which can be done separately) but would like to have an opportunity to mount volumes and `ConfigMaps` regarding that in Deployment.

 Right now I have to override deployment each time pod is killed (and redeployed via helm).

Or simply allow attaching some scripts directl

[2021-03-29 09:39] MovieMaker93 commented on #88
Same problem here, i'm not able to pull the image. Any news?

[2021-03-29 09:55] brnl commented on #88
@MovieMaker93

You didn't read my 1st reply, did you? ;-)

Check the latest version on the [docker hub page](https://hub.docker.com/r/pihole/pihole/tags?page=1&ordering=last_updated) and adjust the image tag in your values.yml accordingly.

[code]

[2021-03-29 10:07] MovieMaker93 commented on #88
I'm using k3s and there is my pihole.yaml file:
---

[code]
and i'm running the helm charts with this command:

`helm install --set image.tag=v5.7 --version '1.7.6' --namespace pihole --values pihole.yaml pihole mojo2600/pihole`
but the pods keeps crashing.
How to solve this?
Thanks

[2021-03-30 06:54] MoJo2600 commented on #135
You are very welcome to create a pull request for such a feature!

[2021-03-30 07:15] MoJo2600 opened #139 "Maintainers wanted :)"
Hey everbody,

is there anybody willing to help maintain this repository? My work focus shifted away from kubernetes and I'm not on track with the latest updates and features anymore. I still have my cluster here and will continue use and improve this chart. But maybe there is somebody with more experience in kubernetes and helm who wants to join in and help review and merge new changes?

Thank yo

[2021-04-23 05:10] hrpatel opened #143 "`serviceWeb.https` does not work"
Hello,

Using/enabling `serviceWeb.https` does not work since the app container only listens on port 80 (even though a `LoadBalancer` and corresponding port definitions exist for the pod/container).

I've looked through the docs/issues/PRs and haven't come across a similar issue or seen a way of using TLS on the admin page.

Is this expected or am I missing something?

Thank you in advance for you

[2021-04-26 06:23] MoJo2600 commented on #134
I did a fresh install of pihole today and for me the lists are shown at `Group Management -> Adlists`

[2021-04-27 02:32] kbreit commented on #134
The ones that do show up are migrated from Pihole 2. Is Pihole able to have migrated and new lists or do I need to start fresh with that?

[2021-04-28 05:59] MoJo2600 commented on #134
You are right, I have to check this. I think pihole will only migrate adlists to the internal database once during an initial startup.

[2021-04-30 18:03] MoJo2600 opened #147 "Liveness / Readiness probe path wrong"
Hi,

i think the liveness / readiness probe path are wrong. Has anybody those working. The current path is `admin.index.php` which was not reachable for me. I switched it to `/admin` and now it is working.

Can somebody check if this is correct?

Best Christian

[2021-05-05 09:04] #139 closed

[2021-05-05 09:09] MoJo2600 commented on #134
I checked the documentation and it is like this: Currently we are mounting the adlist file during container startup. Then pihole will attempt to import the adlists to it's database. This is only done once during initial start. If you already have the lists in your database and restart the container, pihole will not add the new lists. You would have to add them in the web interface.

Currently I'm

[2021-05-05 14:05] kbreit commented on #134
@MoJo2600 Do you happen to know how to remove the lists in the database? I can do that then add them in using the adlists.

[2021-05-07 20:02] kbreit commented on #134
I'm trying to delete the database entries from the web UI and receiving an error:

`Error, something went wrong!
While executing adlist_by_group statement: attempt to write a readonly database`

Would you expect this based on the helm chart? Doesn't seem right to me.

[2021-05-10 06:07] MoJo2600 commented on #134
I tried it on my installation and I was able to delete lists and new lists from `Group Management -> Adlists`. My storage backend is glusterfs. What is your storage backend? NFS? There is a known issue with NFS. But also a solution [here](https://github.com/MoJo2600/pihole-kubernetes/discussions/130)

[2021-05-15 19:51] atsai1220 commented on #147
My output for `/admin.index.php`, `/admin/index.php`, and `/admin` all return 200 return codes. Hope that was helpful.

I exec into the pod and curled against `8080` since that's the port configured named `http` for the pod.
[code]

Here it is for `/admin/index.php`
[code]

[2021-05-17 06:58] MoJo2600 commented on #147
Thank you @atsai1220 then i wonder what my issue was. My container kept being destroyed because the health endpoint returned nothing.

[2021-05-17 06:58] #147 closed

[2021-05-17 17:09] atsai1220 commented on #147
Not sure if related but I previous used this installation as my DHCP server and would result in unhealthy pods after a day or two. Changing to my router as my DHCP server made my pods more stable.

[2021-05-23 12:32] morremeyer opened #152 "chart.yaml appVersion and image.tag diverge"
I just noticed that the `appVersion` in Chart.yaml and the `image.tag` in values.yaml have diverged.

As `appVersion` is optional, I’d go with removing it altogether and updating `image.tag` only in the future.

The other variant would be to default the pihole container in the Deployment to `{{ .Chart.appVersion }}` and unset `image.tag`.

@MoJo2600, which one do you prefer? I’d open a pull reques

[2021-05-27 11:25] MoJo2600 commented on #152
I think removing the optional `appVersion` is a good approach. I'd be very happy if you would create a pull request for this.

[2021-05-31 06:12] #152 closed

[2021-06-09 09:01] lord-kyron opened #158 "Fresh install of pihole latest helmchart - webui returns error 503"
Hi all,
I've made a fresh install fo the chart with doh enabled. I've also enabled the ingress service and used custom port for the webHttp. However - my setup is a bit complicated. Here is how I am accessing it:
nginx reverse proxy running on the k8s node (as I am using my host not only for k8s) -> k3s kubernetes cluster with nginx ingress controller -> pihole web http service -> pihole pod
Howev

[2021-06-19 06:02] lord-kyron commented on #158
Some have simmilar issues or it is just me?

[2021-06-19 16:02] Federkun commented on #158
I installed the latest chart from scratch 30m ago, and it was all good for me. (using `pihole/pihole:5.8.1`)

[2021-06-21 07:54] MoJo2600 commented on #158
I did a clean reinstall on my cluster and everything was working.

[2021-06-21 09:30] lord-kyron commented on #158
I am still getting this. It seems some problem with lighttpd and php-cgi but I cannot get why it is happening.
The erro which I see in lighttpd error.log on the pod is:
[code]
And this is repeating and pod is failing and rebooting. Tried both "latest", "v5.8.1-stretch", "v5.8.1-buster" and "v5.8-stretch" image tags - always failing with the same.

[2021-06-21 09:51] lord-kyron commented on #158
Here is the full log from the pihole pod:
[code]

[2021-06-21 09:56] lord-kyron commented on #158
Here is my config of values.yaml file:
[code]
Do I have to run it on privileged mode or something? Still couldn't get what is going on. I don't have problems with any other charts or services.

[2021-06-21 10:41] MoJo2600 commented on #158
I tried the latest Chart version with your `values.yml`:

Startup Logs
[code]
If I try to access the pod with a port forward `kubectl port-forward pihole-79dc788bc8-m99jc 8087:80` the pihole UI is accessible:

`curl http://localhost:8087`

[code]

I'm sorry. But it works on my machine :( Maybe there is an issue with the wrong architecture of the docker image? I'm on x86 so not sure if my cluster c

[2021-06-21 11:01] lord-kyron commented on #158
I am using k3s kubernetes cluster running on single node Ubuntu 20.04 server, but according to pihole image tags, the image should autodiscover the required architecture. However - I will now try with amd64 tag images to check what you suggest.

[2021-06-21 11:13] lord-kyron commented on #158
@MoJo2600  - can you explain what is the difference between those:
[code]
and
[code]

Also - in general I find the readme file to lack information about what is what in the config. I can the values described to what is the default of each one, but what is the purpose of each one is a bit confusing without explanation.
Thanks!

[2021-06-21 11:24] Federkun commented on #158
Do you have any logs in the `cat /var/log/pihole-FTL.log` file?

[2021-06-21 11:50] lord-kyron commented on #158
Here it is:
[code]

[2021-06-21 18:51] MoJo2600 commented on #158
@lord-kyron documentation could be better, I agree. Feel free to create an pull request if you want to contribute to the documentation. Or maybe create a new Issue with the topics which are confusing for you and need improvement. What I usually do is, check the usage of the variables and the docker container documentation. There have been a lot of contributions to support stuff that I don't even u

[2021-06-28 00:44] braucktoon opened #163 "DHCP Range"
This is fantastic work. I am migrating my existing pihole from docker to k3s. One config I cannot find is the DHCP range. For example, I want only to give out addresses between .100 and .254 for example. Is this possible?

Thanks!

[2021-06-28 14:46] braucktoon commented on #163
I should have also mentioned that I am not using persistent storage.  I am trying to keep the config stateless.

[2021-07-01 12:46] MoJo2600 commented on #163
Hello, there is currently no option in this helm chart to set the properties. But the properties are there on the docker container so it should be straight forward to enable this. It would be nice to have all DHCP options in the chart.

Right now I'm not able to implement this but if you'd like to create a merge request, I'm happy to integrate this feature.

| Docker Environment Var. | Description

[2021-07-01 13:24] braucktoon commented on #163
Thank you Christian, I saw that link and that the properties are available in the container.  So, I came to the same conclusion.  I would love to contribute, I will see if I can find some time :-). Thanks for the confirmation.

[2021-07-02 12:09] braucktoon commented on #163
@MoJo2600 after further inspection I see deployment.yaml has a provision for a list of extra env vars, extraEnvVars
I can specify the DHCP properties in values.yaml but the pod crashes. I can specify TZ in this list successfully. I can see the variables are being included in the pod but can’t seem to find an error anywhere. Do you think this should work?  Perhaps there is a dependency I’m missing

[2021-07-02 12:18] MoJo2600 commented on #163
Could you maybe just create a pull request with the things you did? I will then have a look at it.

[2021-07-02 14:31] braucktoon commented on #163
I didn't make any code changes, my values file simply includes the extraEnvVars list of variables.

persistentVolumeClaim:
  enabled: false

serviceWeb:
  loadBalancerIP: 10.0.0.2
  annotations:
    metallb.universe.tf/allow-shared-ip: pihole-svc
  type: LoadBalancer

serviceDns:
  loadBalancerIP: 10.0.0.2
  annotations:
    metallb.universe.tf/allow-shared-ip: pihole-svc
  type: LoadBalancer

DNS

[2021-07-02 14:48] MoJo2600 commented on #163
OK, understood. I have to look into this :)

[2021-07-04 03:11] Rossco88 opened #164 "Missing template values"
Hi Guys
Sorry I am new to Helm, but wondering if there is possibly some missing template variables from the service templates.

With the following config in my values file, I get the below error

serviceDns:
  type: LoadBalancer
  port: 53
  externalTrafficPolicy: Cluster
  loadBalancerIP: "My IP Went Here"
    # a fixed LoadBalancer IP
  annotations: {}
    # metallb.universe.tf/address-pool: net

[2021-07-04 10:16] Rossco88 commented on #164
Nevermind, I see what I did wrong here. I hadn't enclosed the annotations with the braces

[2021-07-04 10:16] #164 closed

[2021-07-27 18:48] netnutmike opened #168 "Error installing 2.0.0 with helm"
Hi, let me start out saying I am very new to using helm.  I am trying to install the 2.0.0 release with using a load balancer.  I do have the 1.7.6 version running per Jeff's video.

Here is my values file I created:

[code]

This is the error I get:

[code]

I have a couple of questions based on the 1.7.6 version.  I cannot see how to set the timezone or ntp or current time.

Also, I noticed that

[2021-07-29 03:09] mitchross opened #169 "Rancher Repo Add Has Issues"
It appears alot the helm chart config is missing when adding the repo manually to Rancher. Notice the install version is 1.7.6 and no option for 2.0.0

![image](https://user-images.githubusercontent.com/6330506/127425486-7bdcaa7f-36cc-45d2-a7bc-d968a3aa20c7.png)

![image](https://user-images.githubusercontent.com/6330506/127425447-a7ec94c5-73a3-40c3-8ffd-780ca587c8ed.png)

![image](https://user-im

[2021-07-30 12:35] MoJo2600 commented on #169
Oh, that is not good. Thanks for the Info. I will check what changed between 1.x and 2.x.

[2021-07-30 14:20] lord-kyron commented on #158
But can this fix, mentioned at the end in the possibly related issue be implemented in the docker image? When deploying in kubernetes it does not make any sense to deploy and then manually edit every time the lighttpd config to fix it. This is the beauty of kubernetes - to be able to work with the pods and images dynamically.

[2021-08-01 16:43] Nold360 commented on #158
Having the same issue here, I found out that php-cgi throws a "SIGBUG" Error. Sadly i have no idea how to debug this or why this is happening. I checked all configs and logs, but nothing. Running php-cgi with strace I only got this at the end:
[code]

1. Why is php-cgi trying to access "invalid" memory? Or why is the request blocked?
I've got apparmor running on my k3s node, but besides that i did

[2021-08-02 03:22] mitchross commented on #169
Looking closer it might be around this time. https://github.com/MoJo2600/pihole-kubernetes/compare/1.2.0...pihole-1.2.1

as 1.20 is the last version in rancher

[2021-08-02 10:27] MoJo2600 commented on #169
I don't have a rancher installation at hand. But when I read the documentation right, it states that rancher is able to read from [helm chart repositories](https://rancher.com/docs/rancher/v2.x/en/helm-charts/legacy-catalogs/catalog-config/#custom-helm-chart-repository). So the correct url to add should be `https://mojo2600.github.io/pihole-kubernetes/`

[2021-08-02 10:41] MoJo2600 commented on #158
That is a very strange error and to be honest, I have no idea how to solve this in this repository. I'm open to any suggestions.

[2021-08-02 13:06] mitchross commented on #169
@MoJo2600  that worked! thanks!

[2021-08-02 13:06] #169 closed

[2021-08-02 16:58] Nold360 commented on #158
Yea, you are right about that.

I think i found the issue, it has todo with hughpages. After disabling hugepage support on my host, pihole is back up&running. Also fixed postgresql for me. Prob. no a solution for everybody, but it should bring you on the right way.

Here is a link [in german] which brought me onto this: https://bleepcoder.com/de/kubernetes/382419983/bus-error-core-dumped

I simply

[2021-08-03 12:25] MoJo2600 commented on #158
But can this be fixed in the docker container? Maybe somebody who faces this isssue could open a issue for the docker container?

[2021-08-13 16:56] larivierec opened #171 "No way to customize cnames"
As it seems, the `05-pihole-custom-cname.conf` is loaded inside the pods.
[code]
I was wondering if this feature was planned.
`CNAME` records are helpful by not having to duplicate each `A` record having the same IP Address (i'm guessing this is the current work around).

`02-custom.conf` seems to be handled.
https://github.com/MoJo2600/pihole-kubernetes/blob/master/classic/deployment-pihole.yml#L

[2021-08-17 12:58] larivierec commented on #171
confirmed working after helm upgrade with a list of cnames in PR #174

[2021-08-17 12:58] #171 closed

[2021-08-20 10:24] paul999 opened #177 "Possible incorrect path for healthchecks?"
I am not 100% sure this is a actual issue, so didn't directly want to create a pull request. If someone can confirm this is a actual issue, I can create a PR for this.

I noticed when deploying this, that the healthchecks ( https://github.com/MoJo2600/pihole-kubernetes/blob/master/charts/pihole/templates/deployment.yaml#L191-L200 ) are using admin.index.php as path. On my pihole instance this show

[2021-08-20 11:57] MoJo2600 commented on #177
Yes, I think the path is wrong, but it still works. Please feel free to open a pull request. I'm happy to merge it.

[2021-08-24 17:59] muhlba91 opened #178 "MixedProtocols - Mixed DNS Service"
Hi,

with the new feature gate `MixedProtocolLBService` from `1.20` onwards, mixed LB services are possible. Can #78 reopened and integrated through a setting (e.g. `mixedDnsService`)?

[2021-08-24 18:22] MoJo2600 commented on #178
I reopened the issue, but this will be a breaking change I suppose?

[2021-08-24 18:32] muhlba91 commented on #178
I was thinking about something like:

`values.yaml`:
[code]

The current `service-dns-tcp.yaml` and `service-dns-udp.yaml` I'd wrap in:
[code]

Additionally, create a new `service-dns.yaml` containing TCP and UDP wrapped around:
[code]

This way, backwards compatibility is given and defaulting to the current behaviour of generating separate services, but users can opt-in to using a mixed service i

[2021-08-24 18:49] MoJo2600 commented on #178
Sounds very good!

[2021-08-24 20:54] muhlba91 commented on #178
created a PR in #179 adding the flag as discussed.

[2021-08-25 01:29] bab014 opened #180 "Getting a weird scheduling error"
### Related to the TCP pods being generated
Status
[code]

### I was following @geerlingguy tutorial for hosting on a raspberry pi using a helm chart. Everything works fine except the TCP pods.

My values.yaml
[code]
### I used the IP of one of my worker nodes

I'm about as new to this stuff as you can be so I appreciate any help.

[2021-08-28 11:20] #180 closed

[2021-09-04 15:26] Ornias1993 commented on #68
"no" is not an option.

Firstoff: Even if it was a boolean (true or false question) it needed to be `false` not `no`
Second: it is not a boolean it's a string, empty is the only option for it to not be added in the template.

[2021-09-04 15:34] MoJo2600 commented on #68
The documentation states:

Secondary upstream DNS provider, default is google DNS, `no` if only one DNS should used

So I'd say "no" as a string value is correct if I interpret the documentation right.

[2021-09-04 15:47] Ornias1993 commented on #68
Ahh shoot yes, you're right @MoJo2600 it's procesed on their side.
I was assuming it was processed on yours :)

That being said: It's depricated anyway, so maybe beter just replace it with the new env while at it?

[2021-09-04 16:09] MoJo2600 commented on #68
No worries. Would make absolute sense to replace it. Maybe somebody finds the time to create a pull request 😉

[2021-09-05 16:29] #78 closed

[2021-09-05 16:29] #178 closed

[2021-09-06 04:13] funkel1989 opened #184 "Can't seem to install on k3s when host networking is true. port 53 in use"
I'm having an issue installing this on k3s multiple node cluster using host networking mode. The pod starts up and gets the following error:

[code]

The only things currently deployed on my cluster are rancher 2.6, traefik 2.5.1 and cert manager 1.5.3. Nothing is using port 53.

I suspect this is caused by the coredns pod that is deployed with k3s but that's a kube-system pod, I'm not sure how to

[2021-09-07 01:48] funkel1989 commented on #184
turns out systemd.resolve was the issue. Here is what i found that allowed me to fix this problem:
https://medium.com/@niktrix/getting-rid-of-systemd-resolved-consuming-port-53-605f0234f32f

[2021-09-07 01:48] #184 closed

[2021-09-07 04:34] funkel1989 opened #185 "PiHole not handing out DHCP addresses"
I'm running a k3s cluster with one master node and one agent. All jobs currently running on a single agent and my master is tainted.

I am looking to use the DNS and DHCP functionality of the PiHole because my router/model will not allow me to distribute DNS servers.

I've set it up to deploy on hostNetwork and with privileged mode set to true, Pihole starts just fine but no devices can communicat

[2021-09-07 09:50] MoJo2600 commented on #168
Sorry for the late response. What is your kubernetes cluster version?

[2021-09-07 12:09] funkel1989 commented on #185
@MoJo2600 Admittedly I wasn't super excited about using the Pihole for DHCP so another option would be preferred. The problem I'm facing is finding a kubernetes DHCP option. Do you happen to have a recommendation?

Also taking @braucktoon #163  here (hope this tag works) as from a issue that he raised it looks like he is using this repo for DHCP.

[2021-09-07 12:37] funkel1989 commented on #185
@MoJo2600  So whatever the case may be here it looks the the DHCP service is not working as expected. The debug log produced by Pihole doesn't show port 67 as being exposed. The log shows the service is active and working but kubernetes isn't exposing a service for it correctly?

[code]

[2021-09-07 21:49] braucktoon commented on #185
I did get this working. I used a load balancer service type for the DHCP service. My values are here:

https://github.com/braucktoon/K3s-at-home/blob/main/pihole/pihole.yaml

I don't use this pinhole for dhcp anymore. I upgraded my router so I let it hand out the dhcp addresses now.

[2021-09-07 22:11] funkel1989 commented on #185
@braucktoon I am using the same values as use, plus a persistent claim. looks like port 67 isn't exposed on the pod even though the service exists. its weird.

[2021-09-07 22:53] braucktoon commented on #185
I had a similar experience once. If you describe the pod does it show all the env variables as you would expect?  In my experience, when I was learning Helm, I somehow updated my values file, and upgraded but none of my new values took affect.  I am not sure how I got into that situation but I deleted via helm and setup as new and it worked.

[2021-09-08 00:54] funkel1989 commented on #185
Here is my describe on my pod. it shows port 67 displayed. the env vars show nothing about DHCP. I feel like I'm missing DHCP setup somewhere. it is as easy as listing the service as a copied above and clicking the check box with the appropriate range filled out in the UI right? I'm not losing my mind?

[code]

[2021-09-16 22:18] rodriguestiago0 opened #188 "Pi-hole File not found: /etc/pihole/setupVars.conf"
I'm running a k3s cluster with one master node and one agent.

Hardware: 1 raspberry pi 3 and  1 raspberry pi 4

Loadbalancer: MetalLb

values.yml

[code]

Logs:
[code]

Any ideas?

[2021-09-17 08:38] MoJo2600 commented on #188
Sorry, what is the question? The logs look like everything is working

[2021-09-17 08:40] rodriguestiago0 commented on #188
I can't access the web page. I get the error saying File not found: /etc/pihole/setupVars.conf

[2021-09-17 17:44] DerRockWolf commented on #188
Hi, could you go a little bit more in detail with the way you access the web UI and where the error is being displayed?
Also what is the status of your `*-web` service?

I looks like you've set the wrong service type. You've set `serviceWeb.type:` to `LoadBalancerc`. It should be `LoadBalancer`.

[2021-09-20 09:42] rodriguestiago0 commented on #188
Hey,

Sorry for the delay.

<img width="1338" alt="Screenshot 2021-09-20 at 10 40 13" src="https://user-images.githubusercontent.com/2805771/133982666-5aa0eb8f-b80e-4c8d-85e2-57cf42f21ba7.png">
This all the services I'm running. And when I go to the browser and go to http://192.168.1.201/ the result is a white page with this "[ERROR] File not found: /etc/pihole/setupVars.conf"

Thank you
Updated v

[2021-09-21 16:58] rodriguestiago0 commented on #188
More information:

[code]

[code]

https://discourse.pi-hole.net/t/fresh-docker-container-latest-image-results-in-web-ui-displaying-error-file-not-found-etc-pihole-setupvars-conf/15060

[code]

the DNS server is working

<img width="630" alt="Screenshot 2021-09-21 at 17 58 43" src="https://user-images.githubusercontent.com/2805771/134214747-ea4acb4a-ebe0-4a6c-b50d-e7f91ec3dd6d.png">

[2021-09-22 09:22] MoJo2600 commented on #188
are there files on your host under the given path `/data/HDD/pihole`?

[2021-09-22 09:53] rodriguestiago0 commented on #188
yes. you can see it in my last reply.

[code]

[2021-09-22 11:04] MoJo2600 commented on #188
ah, ok sorry... what happens if you connect to the container and you do a `ls` there? like `kubectl exec -ti pihole-XYZ -- /bin/sh` maybe it is just an issue with wrong file privileges?

[2021-09-22 11:15] rodriguestiago0 commented on #188
[code]

[2021-09-22 12:14] MoJo2600 commented on #188
Hm... I have no idea... I'd try to change the ownership of `setupVars.conf` to the user that is running the pihole service. But I have no idea, why the container complains about not finding the files. Maybe there is something in the pihole logs inside the container?

[2021-09-22 14:01] rodriguestiago0 commented on #188
I checked all the logs and everything looks fine.

[2021-09-22 20:41] rodriguestiago0 commented on #188
Thank you for your help. I will open a ticket on the pihole repo and then link it to here if anyone has the same problem as me.

[2021-09-23 05:57] MoJo2600 commented on #68
Fixed with #183

[2021-09-23 05:57] #68 closed

[2021-09-23 05:58] #69 closed

[2021-09-23 05:59] MoJo2600 commented on #87
I will close this ticket as it seems fixed

[2021-09-23 05:59] #87 closed

[2021-09-23 06:00] MoJo2600 commented on #88
@MovieMaker93 sorry for the late reply, is it working for you with the latest version?

[2021-09-23 06:01] MoJo2600 commented on #104
I will close this issue as #133 has been merged.

[2021-09-23 06:01] #104 closed

[2021-09-23 06:02] MoJo2600 commented on #106
I will close this issue due to inactivity. Feel free to comment if there is anything else.

[2021-09-23 06:02] #106 closed

[2021-09-23 06:03] MoJo2600 commented on #131
@i5Js is this working for you? I'd like to close the issue if so.

[2021-09-23 06:04] MoJo2600 commented on #134
@kbreit Is it working for you now? I'd want to close the issue if so.

[2021-09-23 06:05] MoJo2600 commented on #143
Sorry @hrpatel I missed this ticket. Did you get this working?

[2021-09-23 06:06] MoJo2600 commented on #158
I will close this ticket as it seems solved

[2021-09-23 06:06] #158 closed

[2021-09-23 13:48] rodriguestiago0 commented on #188
Hey @MoJo2600, I just noticed this issue only happen if I write to an NFS share drive. If I write to local drive the UI loads correctly.

[2021-09-23 14:32] MoJo2600 commented on #188
Hm that sounds like #130 - maybe it helps?

[2021-09-23 14:44] #188 closed

[2021-09-23 14:45] rodriguestiago0 commented on #163
Hey, I specified the DCHP on the ```extraEnvVars``` and it worked without an issue.

[code]

[2021-09-23 17:14] MoJo2600 commented on #188
Did it help?

[2021-09-24 06:21] rodriguestiago0 commented on #188
Yes it did

[2021-09-30 13:00] MoJo2600 commented on #163
Thank you for testing @rodriguestiago0 - I will close this ticket, please reopen if it is not working for anyone else.

[2021-10-01 05:38] i5Js commented on #131
Hi,
I've checked values.yml, but I can't find where I should add the values for custom.list

[2021-10-08 14:44] MujiSayed opened #191 "dnsmasq not adding additionalHostsEntries"
Hello,
Not sure what i'm doing wrong, but pihole deploys successfully, but the following section doesn't seem to work. When i visit pihole, and click on local DNS -> DNS Records, this section is empty

[code]
Would appreciate any assistance please.
Thanks,

[2021-10-09 17:52] simonosterberg commented on #191
Im not able to confirm it right now but i think you want to use the customDnsEntries and not additionalHostEntries for adding hosts to local DNS records.

[2021-10-09 22:46] MujiSayed commented on #191
tried giving this a shot as well, but am still not seeing anything in the custom list

[code]

also tried this but this resulted in the following error: Error: failed to parse pihole.values.yml: error converting YAML to JSON: yaml: line 264: did not find expected node content

[code]

[2021-10-21 07:29] MoJo2600 commented on #168
Could you try with the latest version of this chart. I have had no isses with the current version.

[2021-11-02 01:20] appleimperio commented on #88
I am having exactly the same issue as the first post. already add the image tag

NAME         TYPE           CLUSTER-IP      EXTERNAL-IP   PORT(S)                                   AGE
pihole-tcp   LoadBalancer   10.43.111.152   <pending>     80:31280/TCP,443:31100/TCP,53:30922/TCP   8m49s
pihole-udp   LoadBalancer   10.43.123.103   10.1.10.5     53:32536/UDP,67:32383/UDP                 8m49s

[2021-11-02 07:42] MoJo2600 commented on #88
@appleimperio Could you do a `kubectl describe svc pihole-tcp`? It seems like it is not getting an external IP. If you do a port forward to the container, is the webfrontend available then? Maybe you could add the log output from the container?

[2021-11-02 13:50] appleimperio commented on #88
Thanks but I get lost in how many commands I try to fix the problem that I decide to delete the whole cluster and try again.

[2021-11-03 01:00] michael-burt commented on #168
This issue is due to the Kubernetes cluster version.You must be on v1.19+ in order to use `networking.k8s.io/v1`.

See here: https://github.com/kubernetes/kubernetes/issues/90077#issuecomment-696199828

[2021-11-03 07:21] MoJo2600 commented on #168
@michael-burt of course... I was looking at the Client Version, d'oh. I will add a hint to the readme.

[2021-11-03 07:21] #168 closed

[2021-11-05 07:12] reitermarkus commented on #143
Came across the same issue. The container is only listening on port 80. `curl -k https://localhost` inside the container shows `Connection refused`.

[2021-11-05 09:14] MoJo2600 commented on #143
Ok, i think there is a misunderstanding. Please correct me if I'm wrong. I'm not using TLS for pihole so I might be wrong on this topic.

The setting `serviceWeb.https` will only att the port 443 to the created service. The setting `webHttps` will only add the containerPort to the container

If you want to have HTTPS enabled there are differnet options. First you have to decide where the TLS termi

[2021-11-05 09:43] MoJo2600 commented on #143
I found another tutorial on how to get TLS running with MetalLB https://blog.tekspace.io/setup-kubernetes-cluster-using-k3s-metallb-letsencrypt-on-bare-metal/

[2021-11-05 09:54] utkuozdemir commented on #143
@MoJo2600 In my PR I actually didn't touch anything related to the HTTPS logic. My goal was to be able to make it configurable so that it would be possible to get the following part in the service customizable:

[code]

In my case, I did not want the section with the 443 https port, because I was using Rancher and its LoadBalancer implementation exposes whatever ports it finds in the Service from

[2021-11-05 10:08] utkuozdemir commented on #143
Regarding the HTTPS topic overall:
- I do the SSL termination at the ingress controller level - as all my other applications.
- I use Rancher which takes care of the ServiceLBs + comes with Traefik ingress controller.
- I install cert-manager + configure a ClusterIssuer for let's encrypt named `lets-encrypt`

My ingresses look like this:
[code]

Important part is the annotations and the TLS sectio

[2021-11-05 11:12] MoJo2600 commented on #143
Thank you for your input. I think you explained it very well.

[2021-11-23 00:25] enuno opened #199 "unable to schedule web containers"
When running: helm install --version '2.0.0' --namespace pihole --values pihole.yaml pihole mojo2600/pihole
I get this error:
2m21s       Warning   FailedScheduling        pod/svclb-pihole-web-lcj6p       0/5 nodes are available: 1 node(s) didn't have free ports for the requested pod ports, 4 node(s) didn't match Pod's node affinity/selector.

This is my pihole.yaml file:
---
persistentVolumeClaim

[2021-11-23 12:16] MoJo2600 commented on #199
Hi,

I strongly recomment to use the latest 2.5.3 version of this chart.

None the less my values.yaml file looks not that much different from yours. Mine looks like this:
[code]
can you maybe do a `kubectl describe pod YOURPOD` and post the result?

[2021-11-23 12:18] MoJo2600 commented on #191
My custom dns look like this:

[code]

[2021-11-23 12:24] MoJo2600 commented on #185
The container is exposing port 67. But is there a Loadbalancer that is exposing the port from the container to the network?

The first service describe does not show an external-ip for the service. I'm not sure if a NodePort works with dhcp. Could you expose the port to an actual loadblancer as well?

[code]

[2021-11-28 16:48] lknite opened #200 "podDnsConfig enabled false still results in an Upstream DNS Server being checked"
I have my own dns server and for pihole to work the Upstream DNS Servers all need to be unchecked.

I'm setting:
[code]

but after deploying pihole i still need to log in and uncheck the default upstream server

[2021-12-22 12:52] AlexanderLieret commented on #191
This is related to #131.

The local DNS records are stored in `/etc/pihole/custom.list` and the local CNAME records in `/etc/dnsmasq.d/05-pihole-custom-cname.conf`. The first can be saved by the persistent volume, the second unfortunately not.

The values of the section `dnsmasq` are appended to the dnsmasq configuration. This explains why the custom entries (of @MoJo2600) are working but not show

[2021-12-22 14:19] krafty1010 opened #201 "K3S with MetalLB - unable to access dns server"
Hi,

With reference to this page: https://greg.jeanmart.me/2020/04/13/self-host-pi-hole-on-kubernetes-and-block-ad/. Setup single node K3S cluster (RPI4) and metallb. Installed mojo2600/pihole with helm. Customised values to use Loadbalancer (as shown below).
Problem is that port 10.10.0.13:53 is not accessible from local network.

[code]

[code]

[code]

I read somewhere that I should set Pihole

[2021-12-23 13:19] MoJo2600 commented on #201
Hi, thank you for the link to the tutorial I will linkt to it in the README.

It's a good question why your setup is not working, because everything looks good. Here is the networking part from mine for reference:

[code]

Which version of metallb are you using? I had the issue where i needed to restart the `metallb-speaker-*` pods in `kube-system` namespace. Otherwise the service would not react.

[2021-12-23 13:30] MoJo2600 commented on #200
Ok, this seems to be a bug. I think `charts/pihole/templates/deployment.yaml` (Line 59) should be like this to enforce `dnsPolicy: "None"`.

[code]

Maybe you want to test this out an create a pull request if it is working for you?

[2021-12-23 13:34] MoJo2600 commented on #191
I will test the PR and merge it asap.

[2021-12-23 16:57] krafty1010 commented on #201
Hi @MoJo2600 thanks very much for your response and good work.

Previously I had restarted the metallb pods. Running metallb-0.11.0.

For lack of a better idea; I deleted pihole and metallb, then reinstalled both with a different LoadBalancer IP and now the service is reachable.

I suppose Metallb is temperamental, the maintainers advise to treat it as beta.

[2021-12-23 16:57] #201 closed

[2022-01-21 23:14] darkcloud784 opened #204 "[Feature Request]"
Add Unbound.

https://docs.pi-hole.net/guides/dns/unbound/

[2022-01-23 00:33] yoinx commented on #185
I was attempting to use this for DHCP as well. I was able to get it working fine by specifying hostNetwork: "true"
However, it doesn't seem like the persistentVolumeClaim saves any changes that are made to /etc/dnsmasq.d, only the stuff being changed in /etc/pihole.

Is there a way to change this to persist the changes in both locations?

[2022-01-23 10:17] MoJo2600 commented on #185
You could patch the deployment to create a volumemount for /etc/dnsmasq.d then everything should be persisted.

[2022-01-24 22:48] yoinx commented on #185
Thanks. I'm still pretty new to anything kubernetes, so I'm still struggling modifying helm charts. I ended up figuring it out with the individual YAML configs in the classic folder though.  Now it's working great for me. :)

I saw that you had subpaths, but only for specific files.

[2022-02-08 09:44] MoJo2600 commented on #204
Oh yeah, that is something that I'd like to have, too.

[2022-02-09 16:41] TJonesy opened #209 "[Feature Request] DNS based healthchecks"
Would it be reasonable to add an option to do healthchecks as a tcp port check on 53 instead of an http health check? I generally care more about dns working than the admin panel working. Also if the dns port is listening then it is likely the admin panel is also working.

[2022-02-14 17:00] avendretter opened #212 "configuring services using traefik annotations"
Hello,

I am running a k3s cluster on two raspberryPis.

[code]

I am noticing, that having traefik running AND running it on port 80 could be a problem.

To get Pi-hole up dan running I was using this command
[code]
using the following values.yaml file:
[code]

I noticed, that the annotation set to use  `metallb` and not `traefik`
That being said, I'd like to ask kindly for advice how to setup th

[2022-02-16 07:55] moritz31 commented on #204
Shouldn't be an pihole thing.
Just deploy unbound and then set the unbound instance as an dns server

[2022-02-19 18:12] darkcloud784 commented on #204
Why have 2 containers when you can have 1, and make the unbound server optional.

[2022-02-19 19:24] MoJo2600 commented on #204
It would be nice to have an easy way to set up both at once, but I see @moritz31 point as well. This is the pihole chart and it should be only for pihole. Maybe we could add a sample or some scripts to setup both in an easy way?

[2022-02-21 19:03] darkcloud784 commented on #204
This is what I was referring to, an easy way you can enable a script run on deployment that installs unbound or something in the same container rather than having 2 containers being separate.

[2022-02-21 22:36] lknite commented on #200
Here's what I've discovered:  If I only have DNS1 set in my values.conf, and not DNS2, then Google gets set automatically with 8.8.4.4.  I can view the deployment and see this in the environment variable being set PIHOLE_DNS_.  First I tried an empty DNS2, which didn't work, then I made up an invalid DNS2 and that worked.

In deployment.yaml it is checking if DNS2 exists, though, it always will be

[2022-02-22 15:06] moritz31 commented on #204
@darkcloud784 imho it is wrong to put these two applications into one container. I try to create a simple helmchart for unbound so one can simply deploy unbound, and the pihole helmchart should be already configureable for this

[2022-02-22 16:20] MoJo2600 commented on #204
I'd suppose to create a tutorial on how to combine pihole with your unbound chart. We could add this to the documentation of both charts?

[2022-02-23 02:40] darkcloud784 commented on #204
Why not at least give the user the option to do so or not? Its not like it causes errors or causes your server to explode or anything. Its an option.

[2022-02-27 11:45] mkoese commented on #212
Hi,
Just change the port for pihole-web.
I use following values.yaml file:

[code]

[2022-03-03 06:00] alteredtech commented on #212
From what I have been learning with k3s traefik, we should not need to change the the service to loadbalancer for pihole. It should remain on clusterip. There is something else that is missing and I havent figured it out yet. I get a 404 but that is as _close_ as I get.

[2022-03-03 18:50] alteredtech commented on #212
@avendretter I have figured it out for k3s traefik ingress.
This is the basic values.yml to get it working.
[code]

Replace LOAD_BALANCER_SERVER_IP_HERE with one of your nodes or you can change it to the ip of an external LB.

Then edit your /etc/hosts file with
loadbalancer ip chart-example.local

the chart-example.local is the default value in the complete values file. You can change that in the

[2022-03-04 00:29] alteredtech opened #219 "[Feature Request] serviceAccountName and metadata annotations for deployment"
Trying to integrate pihole with hashicorp vault. From what I can tell is that it requires spec.template.metadata.annotations and spec.template.spec.serviceAccountName to be entered. I could try to do it myself but I am still very new to this.

This is the hashicorp [guide](https://learn.hashicorp.com/tutorials/vault/kubernetes-sidecar?in=vault/kubernetes) I am following.

[2022-03-10 20:04] Apollorion opened #221 "PiHole has Incorrect IP for itself"
Im installing PiHole with Metallb. It works great, I can hit the IP of my pihole and get to the admin interface. I cannot, however, use the `pi.hole` dns to access pihole.

I have DNS working, because I can hit custom dns entries I've setup (like `service.lan`) but not `pi.hole`.

I noticed if I run `nslookup pi.hole` its returning a response of `0.0.0.0` which is not correct. PiHole is accessible

[2022-03-11 17:41] anon-software commented on #212
I think the issue here is the comment in the values file:

[code]

After the deployment using the default values, I can only access the console as "chart-example.local" but not as "pi.hole":
[code]

Either the comment is wrong or the deployment does not work as the comment stipulates.

[2022-03-12 20:04] matrumz commented on #221
I'm not able to access the admin interface either, even with the following envvars applied to the pihole container (verified in `helm get manifest`)
[code]

Conditional forwarding, as well as blocking in general, has been confirmed to be functioning properly.

My values:
[code]

[2022-03-13 00:56] Apollorion commented on #219
You can add pod annotation with `podAnnotations` in your values files.
This helm chart doesn't support specifying a service account, you'd probably have to open a PR to support that. But, if I remember correctly, every pod gets the `default` service account automatically. So you could use that for whatever you need.

[2022-03-15 08:32] MoJo2600 commented on #221
That's interesting. I never tried `pi.hole` myself. @matrumz  are you using metallb as well?

[2022-03-15 08:34] MoJo2600 commented on #212
I think #221 is related to this issue. But I have no idea how to solve this. Any ideas?

[2022-03-15 13:18] Apollorion commented on #221
I've recently changed my values in an effort to fix this problem. Current values are:
[code]

Here are the services that get generated.
[code]

I can still hit the web interface via `192.168.86.240` but `pi.hole` still resolves as `0.0.0.0`.

I also tried what @matrumz did:
[code]
But that lead to another problem that I cant remember off the top of my head what it was. I **_think_** that makes the

[2022-03-15 13:37] Apollorion commented on #221
Sike, I lied to you. I just tried it again with

[code]

and everything works properly now. IDK what I was running into the other day, but I just gave it a shot again since I've been messing with it a lot and now `pi.hole` resolves correctly and dns seems to be working.

Full working values are:
[code]

[2022-03-15 16:52] matrumz commented on #221
Yeah, this might be a case of "cache strikes again". Apparently the bad address wasn't getting cleared on my test device because this is working on all my devices now with the `FTLCONF_REPLY_ADDR4` addition.

FWIW, I use nginx ingress, @MoJo2600 .

[2022-03-30 21:59] mrwulf commented on #209
There is PR #220 to allow you to make a custom health check

[2022-04-03 02:04] necrogami opened #223 "pihole-FTL: no process found"
So i recently tried installing this via a helm chart

` helm install my-pihole mojo2600/pihole -values ../k8/pihole.values.yml --version 2.5.8`

This is my values file:

[code]

When i `kubectl logs my-pihole -f` it keeps spitting this out and repeating. Any idea why?

[code]

[2022-04-03 02:05] necrogami commented on #223
[code]

[2022-04-03 04:32] #223 closed

[2022-04-12 16:04] krisclarkdev opened #224 "CNAME entries - error: read-only file system"
When adding a CNAME entry using the following values.yaml the web ui reports it has been successful but nothing populates.  When checking the pod logs I get the following error

`/opt/pihole/webpage.sh: line 769: /etc/dnsmasq.d/05-pihole-custom-cname.conf: Read-only file system`

values.yaml

[code]

[2022-04-20 20:42] Serverfrog commented on #224
Did somebody find something out about this?
Im also currently trying to convert my old Raspberry PiHole into the Kubernetes one, also with Replica 2. I noticed that sometimes it will give me a "wrong Token" notice, but i think thats something different.
Reason for me why it is so urgent: the SD Card of the Raspberry is dying...

[2022-04-25 17:16] aBradleyUno commented on #223
What was the fix for this?

[2022-04-26 04:13] lknite opened #225 "FTL failed to start due to failed to create listening socket for port 53: Permission denied"
In a new kubernetes cluster, 1.23.6, I have deployed pihole using argocd.

Seeing this new error.  Something new need to be set in my values file?

[code]

[2022-04-28 08:35] akurth commented on #225
Similar error on k0s (used to run fine for a long time):
`dnsmasq: failed to create listening socket for port 53: Permission denied`

[2022-04-30 19:53] lknite commented on #225
That fixed it for me as well.  Thank you for your response.

[2022-04-30 19:53] #225 closed

[2022-05-10 07:19] MoJo2600 commented on #224
The file `05-pihole-custom-cname.conf` is loaded from a ConfigMap. ConfigMaps in kubernetes are readonly. If you want to write to this file you'd have to mount it from a file mount.

To add some background:
There are two principles clashing and I see a lot of people struggling to understand those.
On the one side, there is the way to configure everything with files and use helm to deploy and updat

[2022-05-10 07:20] MoJo2600 commented on #221
Glad it is working now. Reopen if there is something else.

[2022-05-10 07:20] #221 closed

[2022-05-21 11:11] Tchoupinax commented on #223
I get the same issue and I solved it by taking a more recent image that the default. This issue was known and certainly fixed with an update. :)

[2022-05-21 11:52] Tchoupinax commented on #191
Hello,

According my tries the issue continues to exist, but I'm happy to know that the entries should work even if they are not displayed on the GUI :)

What's up on this issue? The PR is opened?
Thanks!

[2022-05-24 05:36] 5cat opened #227 "disabling domain caching"
My goal is to disable the domain caching because I'm using pihole just for dns filtering and custom dns record. I have another recursive dns resolver with caching built in so i dont need the pihole caching, it is just causing website to not load.

Based on this [page](https://docs.pi-hole.net/ftldns/dns-cache/), I can either
1. edit the `/etc/dnsmasq.d/01-pihole.conf` file
2. edit the `/etc/pihole

[2022-05-28 16:44] craigcabrey opened #228 "error when using loadBalancerIP on dual stack setups"
Warning from MetalLB:

[code]

`values.yaml`:

[code]

What the Helm chart generates for the IPv4 services:

[code]

What it generates for the IPv6 service:

[code]

The workaround is to save the IPv4 service to a file, edit it to include the `ipFamilyPolicy` and `ipFamilies` directives, then apply it. After that, Metallb assigns the requested IPv4 address immediately.

[2022-05-28 20:25] FernFerret commented on #143
I'm doing HTTPS a bit differently than others. I don't want pihole to rely on my ingress. This is because, at this time, my pihole is serving the DNS for the ingress.

This is either incredibly neat or incredibly stupid. Probably both. But I do think there's a lot of value in a standalone TLS config for something like PiHole. This way my PiHole admin console doesn't rely on ingress tech of any kin

[2022-05-29 18:32] MoJo2600 commented on #224
I will close this issue now, if there is anything else, then please reopen it.

[2022-05-29 18:32] #224 closed

[2022-06-11 16:54] vince-vibin opened #230 "ServiceWeb not building"
Hey so im deploying this on my raspberry pi cluster with this comand:
`helm install --version '2.5.8' --namespace pihole --values values.yaml pihole mojo2600/pihole`
but when i check the pods the ServiceWeb pods are not even starting:
[code]
also this is my values.yaml:
[code]
Do you guys have any idea?

[2022-06-18 13:36] vince-vibin commented on #230
so i think i actually just fixed in by just disabeling traefic. Maybe this is going to cause problems later so im going to keep you updated.
To disable i used this command:
`kubectl delete -n kube-system helmcharts traefik`
The thing is that i now have multiple adresses for each service and i think that should not be the case
[code]
Any ideas about that?

[2022-06-26 13:04] moritzj29 commented on #134
I encoutered the same issue today. Apparently, as of piHole v5 managing adlists (and other lists) per file is no longer supported: https://discourse.pi-hole.net/t/how-to-update-adlists-from-adlists-list-file/38370

Since the recommended way of managing appears to be the webUI, I would vote for removing the corresponding options in `values.yaml`. Or at least state somewhere in the documentation tha

[2022-06-26 19:17] MoJo2600 commented on #134
Thank you @moritzj29 this is a valid point. I'm in the process in releasing version 3 of this chart with some breaking changes. I think I will remove this setting then.

[2022-06-28 14:10] #209 closed

[2022-07-01 17:24] vince-vibin commented on #230
i'm new to this so maybe i'm not really getting what you want me to do, but i now deployed the service like this
`serviceWeb:
  type: LoadBalancer
  annotations:
    metallb.universe.tf/allow-shared-ip: pihole-svc`
but its still just pending.
is there any documentation about the right metallb config?

[2022-08-06 23:26] ngrigoriev commented on #131
There is dnsmasq.customDnsEntries variable, it allows to inject address=/host/IP entries to dnsmasq config. Although these won't show in GUI.

[2022-08-07 01:19] ngrigoriev opened #234 "Implement post-install hook to customize gravity.db"
Hello,

I would like to recommend a feature: executing an SQL script form post-install hook. This script can be used to initialize things that are not exposed via gravity.sh - for example, creating the clients/groups, assigning adlists to groups etc.

[2022-08-08 06:59] MoJo2600 commented on #234
This is a good idea. I'm happy to merge a pull request if you're willing to write this implementation.

[2022-08-09 00:27] ngrigoriev commented on #234
I would be happy to contribute but after thinking about it I have realized that there are no decent options for doing it. Or at least I fail to see one.

Helm post-install can, essentially, create and delete K8S objects, including jobs. The problem is that we need to modify sqlite3 database (file) inside of pihole container. There is no interface to do it from the outside, no documented API for th

[2022-08-23 16:31] RossWilliamson commented on #163
Just tried using the extraEnvVars and can confirm this does not work.  Swapping between DHCP_ACTIVE true/false has no difference to pihole, nor does changing the range or router.  Perhaps @rodriguestiago0 had default values in there already

[2022-08-23 19:52] RossWilliamson commented on #185
I'm having the same issue.  I've confirmed that the load balancer is open on port 67 udp and the port 67 is in use in pi-hole via the diagnostics but it will not supply any dhcp leases

[2022-09-06 14:44] snp-g commented on #3
Hi, have you resolved it, please?

[2022-10-18 09:09] yellowhat opened #240 "Local DNS configuration"
Hi,
I have installed using the following:

[code]

[code]

I am able to resolve using `dig google.com` and I can see the requests in the WebUI.
Instead:

[code]

In the first case I cannot see the query from the WebUI, while I can in the second case.

Am I missing something?

Thanks

[2022-11-15 23:26] kenlasko opened #243 "Can't reliably get DNS resolution with multi-node deployment"
I have a 3-node K3S setup using Traefik for ingress, MetalLB for load balancing and Longhorn for shared storage.  I installed Pihole via the latest MoJo2600 Helm chart with the following additional settings:
[code]

DNS resolution only works when the MetalLB speaker pod that is on the same node as the Pihole pod responds to the network request. If I set the **externalTrafficPolicy** to **Cluster**

[2022-11-16 09:21] MoJo2600 commented on #243
Hm... I'm not 100% sure, but I think the 'Local' setting is correct if you want to see the real IP address. But I'm not sure about the 'DNS resolution only works when the MetalLB speaker pod that is on the same node as the Pihole pod responds to the network request.' part. My understanding was, that in this setup you will always receive an answer from the one metallb pod on the node pihole is runn

[2022-11-16 13:40] kenlasko commented on #243
Yes, it would seem that Local is the correct way to go, unless you don't care about knowing which endpoint is querying what.

Here's how I believe things work:
When you ping an IP address, your machine will send an ARP broadcast asking "who owns this IP address?". The owner of that address will respond with its MAC address. With MetalLB, one node will be elected to respond to that request with the

[2022-11-26 18:50] Din-Hoking opened #245 "Duplicate variables"
Hi everyone,
it seems to me that in the values.yaml file in the section **serviceweb:**
redundant part with variables
[code]
This part is already declared in the **serviceDhcp** section

[2022-11-26 19:00] tupperward commented on #185
I had an issue where DHCP and FTL were not functioning properly until I added NET_ADMIN capabilities to the container

[2022-11-26 19:04] tupperward commented on #135
@airen29 I'm curious to see how far you made it with this. I think with the kubernetes CronJob resource this should be an easy feature to add!

[2022-11-26 19:41] airen29 commented on #135
To be honest I totally forgot about this. I will take a look at it and create a PR. Thanks for reminding me @tupperward

[2022-11-26 19:42] tupperward commented on #135
Tag me if you do! I was considering making a branch for this if you didn't respond.

[2022-11-26 19:44] airen29 commented on #135
I think with the latest PR https://github.com/MoJo2600/pihole-kubernetes/commit/c96e9b05866d224f93786b47c4de277865ee07be it can be done also

[2022-11-29 12:52] MoJo2600 commented on #135
Yes, please try the latest version. It should work for you.